Repository outfitter-dev/outfitter: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, typecheck, sync-agent-scaffolding

ultracite:
  run: bun x ultracite fix {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

sync-agent-scaffolding:
  run: ./scripts/prebuild.sh
  stage_fixed: true

feat(mcp): wire server to outfitter logger factory (#288)
  packages/mcp/src/__tests__/mcp.test.ts
  packages/mcp/src/server.ts
  packages/mcp/src/types.ts
Due: ultracite, typecheck

feat(mcp): document and test BYO logger backends (#289)
  packages/logging/README.md
  packages/mcp/README.md
  packages/mcp/src/__tests__/logger-backends.integration.test.ts
Due: ultracite, typecheck

feat(kit): repurpose package as foundation facade
  packages/kit/README.md
  packages/kit/package.json
  packages/kit/src/__tests__/foundation-facade.test.ts
  packages/kit/src/foundation/contracts.ts
  packages/kit/src/foundation/index.ts
  packages/kit/src/foundation/types.ts
  packages/kit/src/index.ts
Due: ultracite, typecheck

chore(outfitter): make templates kit-first with explicit transport deps
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/templates/cli/package.json.template
  apps/outfitter/templates/daemon/package.json.template
  apps/outfitter/templates/mcp/package.json.template
  templates/cli/package.json.template
  templates/daemon/package.json.template
  templates/mcp/package.json.template
Due: ultracite, typecheck

chore(outfitter): make templates kit-first with explicit transport deps (#291)
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/templates/cli/package.json.template
  apps/outfitter/templates/daemon/package.json.template
  apps/outfitter/templates/mcp/package.json.template
  templates/cli/package.json.template
  templates/daemon/package.json.template
  templates/mcp/package.json.template
Due: ultracite, typecheck

feat(outfitter): add create planning presets and protocol
  apps/outfitter/src/__tests__/index.test.ts
  apps/outfitter/src/create/__tests__/planner.test.ts
  apps/outfitter/src/create/index.ts
  apps/outfitter/src/create/planner.ts
  apps/outfitter/src/create/presets.ts
  apps/outfitter/src/create/types.ts
  apps/outfitter/src/index.ts
Due: ultracite, typecheck

feat(outfitter): add create planning presets and protocol (#292)
  apps/outfitter/src/__tests__/index.test.ts
  apps/outfitter/src/create/__tests__/planner.test.ts
  apps/outfitter/src/create/index.ts
  apps/outfitter/src/create/planner.ts
  apps/outfitter/src/create/presets.ts
  apps/outfitter/src/create/types.ts
  apps/outfitter/src/index.ts
Due: ultracite, typecheck

feat(outfitter): add interactive create scaffolding flow
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/create.test.ts
  apps/outfitter/src/__tests__/index.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/create.ts
  apps/outfitter/src/index.ts
Due: ultracite, typecheck

docs: add mixed adoption IA draft and cross-workstream links (#295)
  docs/ADOPTION-IA.md
  docs/ARCHITECTURE.md
  docs/MIGRATION.md
  docs/README.md
Due: none

feat(outfitter): finalize init tooling controls and adoption guidance
  apps/outfitter/src/__tests__/actions.test.ts
  apps/outfitter/src/actions.ts
  docs/ADOPTION-IA.md
  docs/ARCHITECTURE.md
  docs/PILOT-KIT-FIRST-ADOPTION.md
  docs/README.md
Due: ultracite, typecheck

fix(tooling): restore lint scripts and tooling lint coverage
  package.json
  packages/tooling/biome.json
  packages/tooling/registry/registry.json
  packages/tooling/src/cli/check.ts
  packages/tooling/src/cli/fix.ts
  packages/tooling/src/cli/init.ts
  packages/tooling/src/cli/pre-push.ts
  packages/tooling/src/cli/upgrade-bun.ts
  packages/tooling/src/registry/build.ts
Due: ultracite, typecheck

test(tooling): harden registry and preset drift detection
  .claude/rules/tooling-testing.md
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/templates/basic/package.json.template
  apps/outfitter/templates/cli/biome.json.template
  apps/outfitter/templates/cli/package.json.template
  apps/outfitter/templates/daemon/biome.json.template
  apps/outfitter/templates/daemon/package.json.template
  apps/outfitter/templates/mcp/biome.json.template
  apps/outfitter/templates/mcp/package.json.template
  package.json
  packages/tooling/src/__tests__/__snapshots__/biome.test.ts.snap
  packages/tooling/src/__tests__/__snapshots__/lefthook.test.ts.snap
  packages/tooling/src/__tests__/__snapshots__/registry-build.test.ts.snap
  packages/tooling/src/__tests__/__snapshots__/typescript.test.ts.snap
  packages/tooling/src/__tests__/biome.test.ts
  packages/tooling/src/__tests__/lefthook.test.ts
  packages/tooling/src/__tests__/registry-build.test.ts
  packages/tooling/src/__tests__/typescript.test.ts
  packages/tooling/src/registry/build.ts
  templates/basic/package.json.template
  templates/cli/package.json.template
  templates/daemon/package.json.template
  templates/mcp/package.json.template
Due: ultracite, typecheck

feat(contracts): add AlreadyExistsError and improve conflict error DX (#298)
  packages/contracts/src/__tests__/errors.test.ts
  packages/contracts/src/__tests__/serialization.test.ts
  packages/contracts/src/errors.ts
  packages/contracts/src/index.ts
  packages/contracts/src/serialization.ts
Due: ultracite, typecheck

docs(migration): clarify update checks vs dependency upgrades
  docs/MIGRATION.md
Due: none

docs(claude-code): refresh skill references and hook docs
  plugins/outfitter/skills/claude-code/SKILL.md
  plugins/outfitter/skills/claude-code/references/agents/frontmatter.md
  plugins/outfitter/skills/claude-code/references/hooks/hook-types.md
  plugins/outfitter/skills/claude-code/references/hooks/matchers.md
  plugins/outfitter/skills/claude-code/references/hooks/schema.md
Due: none

docs(plans): add OS-74 update apply stack plan
  .agents/plans/outfitter-update-apply/PLAN.md
Due: none

docs: add migration guides and framework adapter examples
  docs/MIGRATION.md
  plugins/kit/shared/migrations/README.md
  plugins/kit/shared/migrations/outfitter-cli-0.2.0.md
  plugins/kit/shared/migrations/outfitter-cli-0.3.0.md
  plugins/kit/shared/migrations/outfitter-config-0.3.0.md
  plugins/kit/shared/migrations/outfitter-contracts-0.2.1.md
  plugins/kit/shared/migrations/outfitter-logging-0.3.0.md
  plugins/kit/shared/migrations/outfitter-mcp-0.3.0.md
  plugins/outfitter/skills/hono-dev/references/error-handling.md
  plugins/outfitter/skills/typescript-dev/SKILL.md
  plugins/outfitter/skills/typescript-dev/examples/api-response.md
  plugins/outfitter/skills/typescript-dev/examples/framework-adapters.md
  plugins/outfitter/skills/typescript-dev/references/result-pattern.md
Due: none

docs(plans): add OS-74 update apply stack plan (#304)
  .agents/plans/outfitter-update-apply/PLAN.md
Due: none

refactor(fieldguides): rename bun skills (use-bun → bun-first)
  plugins/fieldguides/skills/bun-fieldguide/SKILL.md
  plugins/fieldguides/skills/bun-first/SKILL.md
  plugins/fieldguides/skills/bun-first/replacements.json
  plugins/fieldguides/skills/bun-first/scripts/audit-bun-usage.ts
  plugins/team/agents/comms.md
  plugins/team/agents/editor.md
  plugins/team/agents/technical-writer.md
  plugins/team/commands/.gitkeep
Due: ultracite, typecheck

refactor(outfitter): move patterns/templates/guides to shared/, use CLAUDE_PLUGIN_ROOT
  plugins/outfitter/shared/guides/architecture.md
  plugins/outfitter/shared/guides/getting-started.md
  plugins/outfitter/shared/patterns/cli.md
  plugins/outfitter/shared/patterns/conversion.md
  plugins/outfitter/shared/patterns/daemon.md
  plugins/outfitter/shared/patterns/errors.md
  plugins/outfitter/shared/patterns/file-ops.md
  plugins/outfitter/shared/patterns/handler.md
  plugins/outfitter/shared/patterns/logging.md
  plugins/outfitter/shared/patterns/mcp.md
  plugins/outfitter/shared/patterns/results.md
  plugins/outfitter/shared/patterns/testing.md
  plugins/outfitter/shared/templates/cli-command.md
  plugins/outfitter/shared/templates/daemon-service.md
  plugins/outfitter/shared/templates/handler-test.md
  plugins/outfitter/shared/templates/handler.md
  plugins/outfitter/shared/templates/mcp-tool.md
  plugins/outfitter/skills/outfitter-atlas/SKILL.md
  plugins/outfitter/skills/outfitter-check/SKILL.md
  plugins/outfitter/skills/outfitter-start/SKILL.md
  plugins/outfitter/skills/outfitter-start/migration/patterns-quick-ref.md
  plugins/outfitter/skills/outfitter-update/SKILL.md
Due: none

fix(outfitter): update atlas skill to match v0.3.0 package APIs
  plugins/outfitter/shared/guides/getting-started.md
  plugins/outfitter/shared/patterns/cli.md
  plugins/outfitter/shared/patterns/errors.md
  plugins/outfitter/shared/patterns/file-ops.md
  plugins/outfitter/shared/patterns/handler.md
  plugins/outfitter/shared/patterns/logging.md
  plugins/outfitter/shared/patterns/mcp.md
  plugins/outfitter/shared/templates/cli-command.md
  plugins/outfitter/skills/outfitter-atlas/SKILL.md
Due: none

fix(outfitter): update atlas skill to match v0.3.0 package APIs (#311)
  plugins/outfitter/shared/guides/getting-started.md
  plugins/outfitter/shared/patterns/cli.md
  plugins/outfitter/shared/patterns/errors.md
  plugins/outfitter/shared/patterns/file-ops.md
  plugins/outfitter/shared/patterns/handler.md
  plugins/outfitter/shared/patterns/logging.md
  plugins/outfitter/shared/patterns/mcp.md
  plugins/outfitter/shared/templates/cli-command.md
  plugins/outfitter/skills/outfitter-atlas/SKILL.md
Due: none

fix(plugins): update marketplace.json for renamed plugins
  .claude-plugin/marketplace.json
  .claude/settings.json
  plugins/team/skills/agent-setup/marketplace-manifest.json
  plugins/team/skills/outfitter-agents-check/marketplace-manifest.json
  scripts/generate-marketplace-manifest.ts
Due: ultracite, typecheck, sync-agent-scaffolding

refactor(fieldguides): rename skills-check to skillcheck
  plugins/fieldguides/skills/skillcheck/SKILL.md
  plugins/fieldguides/skills/skillcheck/scripts/lint-preprocessing.ts
Due: ultracite, typecheck

feat(fieldguides): add preprocessing safety tooling and <bang> convention
  .claude/rules/agents/formatting.md
  plugins/fieldguides/skills/skillcraft/SKILL.md
  plugins/fieldguides/skills/skills-check/SKILL.md
  plugins/fieldguides/skills/skills-check/scripts/lint-preprocessing.ts
Due: ultracite, typecheck

feat(fieldguides): add preprocessing safety tooling and skillcheck linter (#315)
  .claude/rules/agents/formatting.md
  plugins/fieldguides/skills/skillcheck/SKILL.md
  plugins/fieldguides/skills/skillcheck/scripts/lint-preprocessing.ts
  plugins/fieldguides/skills/skillcraft/SKILL.md
  plugins/fieldguides/skills/skillcraft/references/claude-craft.md
Due: ultracite, typecheck

fix(fieldguides): wrap <bang>`command` in double-backtick inline code
  plugins/fieldguides/skills/claude-craft/SKILL.md
  plugins/fieldguides/skills/claude-craft/references/skills/preprocessing-safety.md
  plugins/fieldguides/skills/skillcheck/SKILL.md
  plugins/fieldguides/skills/skillcraft/SKILL.md
Due: none

fix(fieldguides): use consistent good/bad/why table in naming Avoid section
  plugins/fieldguides/skills/skillcraft/references/patterns.md
Due: none

feat(fieldguides): add context fork and quartermaster spawn to skillcheck
  plugins/fieldguides/skills/skillcheck/SKILL.md
Due: none

fix(fieldguides): improve patterns.md formatting — fix nesting, add languages, use tables
  plugins/fieldguides/skills/skillcraft/references/patterns.md
Due: none

fix(plugins): use { } placeholder convention per formatting.md
  plugins/fieldguides/skills/skillcraft/references/best-practices.md
  plugins/fieldguides/skills/skillcraft/references/patterns.md
  plugins/fieldguides/skills/trails/SKILL.md
  plugins/outfitter/skills/outfitter-check/SKILL.md
Due: none

feat(fieldguides): add skillcraft to quartermaster auto-load skills
  plugins/fieldguides/agents/quartermaster.md
Due: none

Path conditions:
  ultracite: any of: *.{js,jsx,ts,tsx,json,jsonc,css}
  typecheck: any of: *.{ts,tsx}
  sync-agent-scaffolding: any of: .claude/{settings.json,hooks/*}
