Repository outfitter-dev/outfitter: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, typecheck, sync-agent-scaffolding

ultracite:
  run: bun x ultracite fix {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

sync-agent-scaffolding:
  run: ./scripts/prebuild.sh
  stage_fixed: true

fix(tui): add demo/registry export and sort CLI exports
  apps/outfitter/package.json
  packages/cli/package.json
Due: ultracite

fix(tui): add package READMEs as docs-core sources and regenerate llms
  docs/llms-full.txt
  docs/llms.txt
  packages/cli/README.md
  packages/tui/README.md
Due: none

docs(tui): add TUI package docs and update stale CLI references
  .gitignore
  docs/STACK-COMPOSITION.md
  docs/packages/cli/HARVEST_MAP.md
  docs/packages/cli/README.md
  docs/packages/tui/README.md
  packages/claude-plugin/skills/outfitter-cli/SKILL.md
  packages/cli/HARVEST_MAP.md
  plugins/outfitter/shared/migrations/outfitter-cli-0.2.0.md
  plugins/outfitter/shared/patterns/cli.md
  plugins/outfitter/shared/templates/cli-command.md
Due: none

chore(changeset): add changesets for TUI initial release and CLI extraction
  .changeset/cli-tui-extraction.md
  .changeset/tui-initial-release.md
Due: none

feat(tooling): add check-changeset CI gate
  .changeset/check-changeset-gate.md
  .github/workflows/ci.yml
  bunup.config.ts
  package.json
  packages/tooling/src/__tests__/check-changeset.test.ts
  packages/tooling/src/cli/check-changeset.ts
  packages/tooling/src/cli/index.ts
Due: ultracite, typecheck

fix(tooling): check changeset in diff, not on disk
  packages/tooling/src/__tests__/check-changeset.test.ts
  packages/tooling/src/cli/check-changeset.ts
Due: ultracite, typecheck

feat(tooling): add check-changeset CI gate (#386)
  .changeset/check-changeset-gate.md
  .github/workflows/ci.yml
  bunup.config.ts
  package.json
  packages/tooling/src/__tests__/check-changeset.test.ts
  packages/tooling/src/cli/check-changeset.ts
  packages/tooling/src/cli/index.ts
Due: ultracite, typecheck

fix(outfitter): consolidate output mode resolution, eliminate env var side effects
  apps/outfitter/src/__tests__/json-parity.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/add.ts
  apps/outfitter/src/commands/check.ts
  apps/outfitter/src/commands/demo.ts
  apps/outfitter/src/commands/doctor.ts
  apps/outfitter/src/commands/init.ts
  apps/outfitter/src/commands/migrate-kit.ts
  apps/outfitter/src/commands/scaffold.ts
  apps/outfitter/src/commands/update.ts
  apps/outfitter/src/engine/render-plan.ts
  apps/outfitter/src/output-mode.ts
Due: ultracite, typecheck

fix(outfitter): consolidate output mode resolution (#387)
  apps/outfitter/src/__tests__/json-parity.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/add.ts
  apps/outfitter/src/commands/check.ts
  apps/outfitter/src/commands/demo.ts
  apps/outfitter/src/commands/doctor.ts
  apps/outfitter/src/commands/init.ts
  apps/outfitter/src/commands/migrate-kit.ts
  apps/outfitter/src/commands/scaffold.ts
  apps/outfitter/src/commands/update.ts
  apps/outfitter/src/engine/render-plan.ts
  apps/outfitter/src/output-mode.ts
Due: ultracite, typecheck

feat(cli-demo): extract demo app and keep outfitter bridge
  apps/cli-demo/README.md
  apps/cli-demo/package.json
  apps/cli-demo/src/__tests__/demo.test.ts
  apps/cli-demo/src/cli.ts
  apps/cli-demo/src/commands/demo.ts
  apps/cli-demo/src/commands/demo/errors.ts
  apps/cli-demo/src/commands/demo/registry.ts
  apps/cli-demo/src/index.ts
  apps/cli-demo/src/output-mode.ts
  apps/cli-demo/tsconfig.json
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/demo-compat.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/demo.ts
  bun.lock
  bunup.config.ts
Due: ultracite, typecheck

feat(outfitter): add repo maintenance namespace
  apps/outfitter/README.md
  apps/outfitter/src/__tests__/index.test.ts
  apps/outfitter/src/__tests__/repo.test.ts
  apps/outfitter/src/cli.ts
  apps/outfitter/src/commands/repo.ts
  apps/outfitter/src/index.ts
  package.json
Due: ultracite, typecheck

feat(repo): add migration aliases and boundary invocation check
  apps/outfitter/README.md
  apps/outfitter/src/__tests__/repo.test.ts
  apps/outfitter/src/commands/repo.ts
  package.json
  packages/tooling/src/__tests__/check-boundary-invocations.test.ts
  packages/tooling/src/cli/check-boundary-invocations.ts
  packages/tooling/src/cli/index.ts
Due: ultracite, typecheck

feat(outfitter): add short repo check subjects
  apps/outfitter/README.md
  apps/outfitter/src/__tests__/repo.test.ts
  apps/outfitter/src/commands/repo.ts
  package.json
Due: ultracite, typecheck

fix(docs): enable dist-less repo docs command bootstrapping
  apps/outfitter/src/cli.ts
  apps/outfitter/src/commands/docs-module-loader.ts
  apps/outfitter/src/commands/repo.ts
  bunup.config.ts
  packages/docs-core/src/cli-sync.ts
  packages/docs/src/commands/check.ts
  packages/docs/src/commands/export.ts
  packages/docs/src/commands/sync.ts
  packages/docs/src/docs-core-loader.ts
  packages/tooling/src/__tests__/check-boundary-invocations.test.ts
  scripts/prebuild.sh
Due: ultracite, typecheck

chore(changeset): record repo docs bootstrap boundary updates
  .changeset/repo-docs-bootstrap-boundary.md
Due: none

chore(exports): sync generated package exports
  apps/outfitter/package.json
  packages/docs/package.json
Due: ultracite

chore(tooling): keep boundary check CLI internal export
  bunup.config.ts
Due: ultracite, typecheck

feat(cli-demo): extract demo app and keep outfitter demo bridge (#388)
  apps/cli-demo/README.md
  apps/cli-demo/package.json
  apps/cli-demo/src/__tests__/demo.test.ts
  apps/cli-demo/src/cli.ts
  apps/cli-demo/src/commands/demo.ts
  apps/cli-demo/src/commands/demo/errors.ts
  apps/cli-demo/src/commands/demo/registry.ts
  apps/cli-demo/src/index.ts
  apps/cli-demo/src/output-mode.ts
  apps/cli-demo/tsconfig.json
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/demo-compat.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/demo.ts
  bun.lock
  bunup.config.ts
Due: ultracite, typecheck

feat(outfitter): add repo maintenance namespace
  apps/outfitter/README.md
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/index.test.ts
  apps/outfitter/src/__tests__/repo.test.ts
  apps/outfitter/src/cli.ts
  apps/outfitter/src/commands/repo.ts
  apps/outfitter/src/index.ts
  package.json
Due: ultracite, typecheck

feat(outfitter): add repo maintenance namespace (#389)
  apps/outfitter/README.md
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/index.test.ts
  apps/outfitter/src/__tests__/repo.test.ts
  apps/outfitter/src/cli.ts
  apps/outfitter/src/commands/repo.ts
  apps/outfitter/src/index.ts
  package.json
Due: ultracite, typecheck

feat(repo): add migration aliases, short subjects, and boundary checks (#390)
  apps/outfitter/README.md
  apps/outfitter/src/__tests__/repo.test.ts
  apps/outfitter/src/commands/repo.ts
  package.json
  packages/tooling/src/__tests__/check-boundary-invocations.test.ts
  packages/tooling/src/cli/check-boundary-invocations.ts
  packages/tooling/src/cli/index.ts
Due: ultracite, typecheck

fix(docs): support dist-less docs bootstrap via source-first loading (#391)
  .changeset/repo-docs-bootstrap-boundary.md
  apps/outfitter/package.json
  apps/outfitter/src/cli.ts
  apps/outfitter/src/commands/docs-module-loader.ts
  apps/outfitter/src/commands/repo.ts
  bunup.config.ts
  packages/docs-core/src/cli-sync.ts
  packages/docs/package.json
  packages/docs/src/commands/check.ts
  packages/docs/src/commands/export.ts
  packages/docs/src/commands/sync.ts
  packages/docs/src/docs-core-loader.ts
  packages/tooling/src/__tests__/check-boundary-invocations.test.ts
  scripts/prebuild.sh
Due: ultracite, typecheck

refactor(outfitter)!: remove legacy command aliases
  apps/cli-demo/README.md
  apps/cli-demo/package.json
  apps/outfitter/README.md
  apps/outfitter/src/__tests__/demo-compat.test.ts
  apps/outfitter/src/__tests__/repo.test.ts
  apps/outfitter/src/cli.ts
  apps/outfitter/src/commands/demo.ts
  apps/outfitter/src/commands/repo.ts
  docs/BOUNDARY-CONVENTIONS.md
  docs/llms-full.txt
  docs/packages/docs/README.md
  packages/docs/README.md
  plugins/outfitter/skills/outfitter-atlas/SKILL.md
Due: ultracite, typecheck

docs(boundary): codify command model and migration conventions
  README.md
  apps/outfitter/README.md
  docs/BOUNDARY-CONVENTIONS.md
  docs/EXPORT-CONTRACTS.md
  docs/MIGRATION.md
  docs/README.md
  docs/llms-full.txt
  docs/packages/docs/README.md
  docs/packages/tooling/README.md
  packages/docs/README.md
  packages/tooling/README.md
Due: none

docs(boundary): finalize command and migration conventions (#392)
  README.md
  apps/cli-demo/README.md
  apps/cli-demo/package.json
  apps/outfitter/README.md
  apps/outfitter/src/__tests__/demo-compat.test.ts
  apps/outfitter/src/__tests__/repo.test.ts
  apps/outfitter/src/cli.ts
  apps/outfitter/src/commands/demo.ts
  apps/outfitter/src/commands/repo.ts
  docs/BOUNDARY-CONVENTIONS.md
  docs/EXPORT-CONTRACTS.md
  docs/MIGRATION.md
  docs/README.md
  docs/llms-full.txt
  docs/packages/docs/README.md
  docs/packages/tooling/README.md
  packages/docs/README.md
  packages/tooling/README.md
  plugins/outfitter/skills/outfitter-atlas/SKILL.md
Due: ultracite, typecheck

feat(cli): add reusable flag preset primitives
  packages/cli/package.json
  packages/cli/src/__tests__/command-preset.test.ts
  packages/cli/src/__tests__/flags.test.ts
  packages/cli/src/command.ts
  packages/cli/src/flags.ts
  packages/cli/src/types.ts
Due: ultracite, typecheck

chore(cli): add changeset for flag preset stack
  .changeset/small-maps-wave.md
Due: none

feat(cli): add reusable flag preset primitives (#393)
  .changeset/small-maps-wave.md
  packages/cli/package.json
  packages/cli/src/__tests__/command-preset.test.ts
  packages/cli/src/__tests__/flags.test.ts
  packages/cli/src/command.ts
  packages/cli/src/flags.ts
  packages/cli/src/types.ts
Due: ultracite, typecheck

fix(cli): avoid output subpath race in workspace typecheck
  apps/cli-demo/package.json
  apps/cli-demo/src/cli.ts
  apps/cli-demo/src/commands/demo.ts
  apps/outfitter/package.json
  apps/outfitter/src/actions.ts
  apps/outfitter/src/cli.ts
  apps/outfitter/src/commands/add.ts
  apps/outfitter/src/commands/check.ts
  apps/outfitter/src/commands/demo.ts
  apps/outfitter/src/commands/doctor.ts
  apps/outfitter/src/commands/init.ts
  apps/outfitter/src/commands/migrate-kit.ts
  apps/outfitter/src/commands/scaffold.ts
  apps/outfitter/src/commands/update.ts
  apps/outfitter/src/engine/render-plan.ts
  packages/cli/src/index.ts
  plugins/fieldguides/agents/analyst.md
  plugins/fieldguides/agents/debugger.md
  plugins/fieldguides/agents/engineer.md
  plugins/fieldguides/agents/reviewer.md
  plugins/fieldguides/agents/scout.md
  plugins/fieldguides/agents/specialist.md
  plugins/fieldguides/agents/tester.md
  plugins/team/agents/comms.md
  plugins/team/agents/editor.md
  plugins/team/agents/technical-writer.md
Due: ultracite, typecheck

Path conditions:
  ultracite: any of: *.{js,jsx,ts,tsx,json,jsonc,css}
  typecheck: any of: *.{ts,tsx}
  sync-agent-scaffolding: any of: .claude/{settings.json,hooks/*}
