Repository outfitter-dev/outfitter: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, typecheck, sync-agent-scaffolding

.lefthook.yml:

# Lefthook configuration for Outfitter Stack
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    ultracite:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css}"
      run: bun x ultracite fix {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck

    sync-agent-scaffolding:
      glob: ".claude/{settings.json,hooks/*}"
      run: ./scripts/prebuild.sh
      stage_fixed: true

pre-push:
  parallel: false
  commands:
    verify:
      run: bun run packages/tooling/src/cli/index.ts pre-push

fix(cli): dynamic guardrail file list, tighten regex, clarify docs
  apps/outfitter/src/__tests__/cli-convention-guardrails.test.ts
  docs/CLI-CONVENTIONS.md
Due: ultracite, typecheck

test(cli): add convention drift guardrails
  apps/outfitter/src/__tests__/cli-convention-guardrails.test.ts
  docs/CLI-CONVENTIONS.md
  packages/cli/src/__tests__/preset-boundary-guardrails.test.ts
Due: ultracite, typecheck

test(cli): add anti-drift guardrails for convention adoption (#442)
  apps/outfitter/src/__tests__/cli-convention-guardrails.test.ts
  docs/CLI-CONVENTIONS.md
  packages/cli/src/__tests__/preset-boundary-guardrails.test.ts
Due: ultracite, typecheck

feat(rules): establish TSDoc convention via agent rule
  .claude/rules/tsdoc.md
Due: none

feat(rules): establish TSDoc convention via agent rule (#444)
  .claude/rules/tsdoc.md
Due: none

feat(tooling): build check-tsdoc command for TSDoc coverage validation
  packages/tooling/src/__tests__/check-tsdoc.test.ts
  packages/tooling/src/cli/check-tsdoc.ts
  packages/tooling/src/cli/index.ts
Due: ultracite, typecheck

fix(tooling): follow re-exports in barrel files, validate entry points, move typescript to deps
  packages/tooling/package.json
  packages/tooling/src/cli/check-tsdoc.ts
Due: ultracite, typecheck

feat(tooling): build check-tsdoc command for TSDoc coverage validation (#445)
  packages/tooling/package.json
  packages/tooling/src/__tests__/check-tsdoc.test.ts
  packages/tooling/src/cli/check-tsdoc.ts
  packages/tooling/src/cli/index.ts
Due: ultracite, typecheck

feat(cli): expose TSDoc check in outfitter CLI
  apps/outfitter/src/__tests__/check-tsdoc.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/check-tsdoc.ts
Due: ultracite, typecheck

feat(cli): expose TSDoc check in outfitter CLI (#446)
  apps/outfitter/src/__tests__/check-tsdoc.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/check-tsdoc.ts
Due: ultracite, typecheck

fix(tooling): guard TSDoc summary with try/catch, fix test description
  packages/tooling/src/__tests__/pre-push.test.ts
  packages/tooling/src/cli/pre-push.ts
Due: ultracite, typecheck

feat(tooling): integrate pre-push hook for TSDoc coverage summary
  packages/tooling/src/__tests__/pre-push.test.ts
  packages/tooling/src/cli/pre-push.ts
Due: ultracite, typecheck

feat(tooling): integrate pre-push hook for TSDoc coverage summary (#447)
  packages/tooling/src/__tests__/pre-push.test.ts
  packages/tooling/src/cli/pre-push.ts
Due: ultracite, typecheck

feat(docs): adopt TypeDoc for API documentation generation
  .gitignore
  bun.lock
  package.json
  typedoc.json
  typedoc.markdown.json
Due: ultracite

feat(docs): adopt TypeDoc for API documentation generation (#448)
  .gitignore
  bun.lock
  package.json
  typedoc.json
  typedoc.markdown.json
Due: ultracite

fix(tooling): add missing check-tsdoc export entries
  apps/outfitter/package.json
  packages/tooling/package.json
Due: ultracite

fix(tooling): add missing check-tsdoc export entries (#449)
  apps/outfitter/package.json
  packages/tooling/package.json
Due: ultracite

fix(bootstrap): enforce pinned Bun version from .bun-version
  scripts/bootstrap.sh
Due: none

feat(skills): add linear-project-management skill
  .claude/skills/linear-project-management/SKILL.md
  .claude/skills/linear-project-management/references/api-patterns.md
Due: none

chore: add changeset for kit removal
  .changeset/remove-outfitter-kit.md
Due: none

chore: regenerate docs after kit removal
  docs/llms-full.txt
  docs/llms.txt
Due: none

fix(bootstrap): harden pinned Bun enforcement
  scripts/bootstrap.sh
Due: none

fix(skills): address PR review feedback for linear-project-management
  .claude/skills/linear-project-management/SKILL.md
  .claude/skills/linear-project-management/references/api-patterns.md
Due: none

fix: node_modules path and validate bun version
  scripts/bootstrap.sh
Due: none

fix(bootstrap): enforce pinned Bun version from .bun-version [OS-210] (#450)
  scripts/bootstrap.sh
Due: none

feat(skills): add linear-project-management skill (#451)
  .claude/skills/linear-project-management/SKILL.md
  .claude/skills/linear-project-management/references/api-patterns.md
Due: none

refactor(tooling): extract pure analysis from check-tsdoc runner [OS-230]
  packages/tooling/src/__tests__/check-tsdoc.test.ts
  packages/tooling/src/cli/check-tsdoc.ts
  packages/tooling/src/index.ts
Due: ultracite, typecheck

docs(styleguide): clarify expedition layer guidance [OS-122]
  plugins/team/skills/outfitter-styleguide/SKILL.md
Due: none

refactor(outfitter): replace check-tsdoc subprocess with direct import [OS-230]
  apps/outfitter/src/__tests__/check-tsdoc.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/check-tsdoc.ts
Due: ultracite, typecheck

chore(changeset): add tooling release note for check-tsdoc stack [OS-230]
  .changeset/fast-bulls-fold.md
Due: none

docs(styleguide): clarify expedition layer guidance [OS-122] (#454)
  plugins/team/skills/outfitter-styleguide/SKILL.md
Due: none

fix(outfitter): resolve check-tsdoc review feedback [OS-230]
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/check-tsdoc.ts
  packages/tooling/src/__tests__/check-tsdoc.test.ts
  packages/tooling/src/cli/check-tsdoc.ts
Due: ultracite, typecheck

refactor(tooling): extract pure analysis from check-tsdoc runner [OS-230] (#455)
  .changeset/fast-bulls-fold.md
  apps/outfitter/src/__tests__/check-tsdoc.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/check-tsdoc.ts
  packages/tooling/src/__tests__/check-tsdoc.test.ts
  packages/tooling/src/cli/check-tsdoc.ts
  packages/tooling/src/index.ts
Due: ultracite, typecheck

feat(outfitter): wire outputModePreset and jqPreset into check-tsdoc [OS-231]
  apps/outfitter/src/__tests__/check-tsdoc.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/check-tsdoc.ts
Due: ultracite, typecheck

fix(outfitter): preserve check-tsdoc json fallback semantics [OS-231]
  apps/outfitter/src/actions.ts
Due: ultracite, typecheck

feat(outfitter): wire outputModePreset and jqPreset into check-tsdoc [OS-231] (#456)
  apps/outfitter/src/__tests__/check-tsdoc.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/check-tsdoc.ts
Due: ultracite, typecheck

feat(outfitter): add --summary flag to check-tsdoc [OS-232]
  apps/outfitter/src/__tests__/check-tsdoc.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/check-tsdoc.ts
Due: ultracite, typecheck

feat(outfitter): add --summary flag to check-tsdoc [OS-232] (#457)
  apps/outfitter/src/__tests__/check-tsdoc.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/check-tsdoc.ts
Due: ultracite, typecheck
