Repository outfitter-dev/outfitter: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, typecheck, sync-agent-scaffolding

.lefthook.yml:

# Lefthook configuration for Outfitter Stack
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    ultracite:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css}"
      run: bun x ultracite fix {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck

    sync-agent-scaffolding:
      glob: ".claude/{settings.json,hooks/*}"
      run: ./scripts/prebuild.sh
      stage_fixed: true

pre-push:
  parallel: false
  commands:
    verify:
      run: bun run packages/tooling/src/cli/index.ts pre-push

feat(docs): define docs map schema and doc kind taxonomy [OS-277]
  bun.lock
  packages/docs/package.json
  packages/docs/src/__tests__/docs-map-schema.test.ts
  packages/docs/src/core/docs-map-schema.ts
  packages/docs/src/index.ts
Due: ultracite, typecheck

feat(docs): define docs map schema and doc kind taxonomy (#527)
  bun.lock
  packages/docs/package.json
  packages/docs/src/__tests__/docs-map-schema.test.ts
  packages/docs/src/core/docs-map-schema.ts
  packages/docs/src/index.ts
Due: ultracite, typecheck

chore(docs): add export for package-doc-collection
  packages/docs/package.json
Due: ultracite

refactor(docs): share package docs collection logic
  packages/docs/package.json
  packages/docs/src/__tests__/docs-map-generator.test.ts
  packages/docs/src/__tests__/package-doc-collection.test.ts
  packages/docs/src/core/docs-map-generator.ts
  packages/docs/src/core/index.ts
  packages/docs/src/core/package-doc-collection.ts
  packages/docs/src/index.ts
Due: ultracite, typecheck

feat(docs): implement docs map generator (#528)
  packages/docs/package.json
  packages/docs/src/__tests__/docs-map-generator.test.ts
  packages/docs/src/__tests__/package-doc-collection.test.ts
  packages/docs/src/core/docs-map-generator.ts
  packages/docs/src/core/index.ts
  packages/docs/src/core/package-doc-collection.ts
  packages/docs/src/index.ts
Due: ultracite, typecheck

feat(docs): migrate llms.txt generation to consume docs map [OS-279]
  packages/docs/package.json
  packages/docs/src/__tests__/docs-map-render.test.ts
  packages/docs/src/core/docs-map-render.ts
  packages/docs/src/index.ts
Due: ultracite, typecheck

feat(docs): migrate llms.txt generation to consume docs map (#529)
  packages/docs/package.json
  packages/docs/src/__tests__/docs-map-render.test.ts
  packages/docs/src/core/docs-map-render.ts
  packages/docs/src/index.ts
Due: ultracite, typecheck

fix(outfitter): add missing exports for docs-types and jq-utils
  apps/outfitter/.outfitter/surface.json
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/docs-list.test.ts
  apps/outfitter/src/__tests__/docs-show.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/check-tsdoc.ts
  apps/outfitter/src/commands/docs-list.ts
  apps/outfitter/src/commands/docs-show.ts
  apps/outfitter/src/commands/docs-types.ts
  apps/outfitter/src/commands/jq-utils.ts
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500444-mimvsu/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500444-mimvsu/docs/packages/config/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500446-e3llp7/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500446-emwcs1/docs/ARCHITECTURE.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500446-emwcs1/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500447-5hyo68/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500447-xibkft/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500448-u7foos/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500448-u7foos/docs/packages/tui/README.md
Due: ultracite, typecheck

fix(outfitter): resolve docs.show schema and unused import
  apps/outfitter/.outfitter/surface.json
  apps/outfitter/src/actions.ts
Due: ultracite, typecheck

feat(docs): implement `outfitter docs list` and `outfitter docs show` (#530)
  apps/outfitter/.outfitter/surface.json
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/docs-list.test.ts
  apps/outfitter/src/__tests__/docs-show.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/check-tsdoc.ts
  apps/outfitter/src/commands/docs-list.ts
  apps/outfitter/src/commands/docs-show.ts
  apps/outfitter/src/commands/docs-types.ts
  apps/outfitter/src/commands/jq-utils.ts
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500444-mimvsu/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500444-mimvsu/docs/packages/config/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500446-e3llp7/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500446-emwcs1/docs/ARCHITECTURE.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500446-emwcs1/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500447-5hyo68/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500447-xibkft/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500448-u7foos/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500448-u7foos/docs/packages/tui/README.md
Due: ultracite, typecheck

fix(outfitter): export DocsExportTarget from docs-export module
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/docs-export.ts
Due: ultracite, typecheck

feat(docs): implement outfitter docs search and export commands [OS-281]
  apps/outfitter/.outfitter/surface.json
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/docs-export.test.ts
  apps/outfitter/src/__tests__/docs-search.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/docs-export.ts
  apps/outfitter/src/commands/docs-search.ts
Due: ultracite, typecheck

feat(docs): implement `outfitter docs search` and `outfitter docs export` (#531)
  apps/outfitter/.outfitter/surface.json
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/docs-export.test.ts
  apps/outfitter/src/__tests__/docs-search.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/docs-export.ts
  apps/outfitter/src/commands/docs-search.ts
Due: ultracite, typecheck

fix(docs): allow docs.api to suppress check-tsdoc output
  apps/outfitter/.outfitter/surface.json
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/docs-api.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/check-tsdoc.ts
  apps/outfitter/src/commands/docs-api.ts
Due: ultracite, typecheck

feat(docs): implement `outfitter docs api` for TSDoc extraction (#532)
  apps/outfitter/.outfitter/surface.json
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/docs-api.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/check-tsdoc.ts
  apps/outfitter/src/commands/docs-api.ts
Due: ultracite, typecheck

chore(docs): remove docs/packages/* mirrors [OS-285]
  .agents/plans/outfitter-docs-decisions.md
  .gitignore
  AGENTS.md
  apps/outfitter/README.md
  apps/outfitter/src/commands/repo.ts
  docs/README.md
  docs/packages/agents/README.md
  docs/packages/cli/HARVEST_MAP.md
  docs/packages/cli/README.md
  docs/packages/config/README.md
  docs/packages/contracts/README.md
  docs/packages/daemon/README.md
  docs/packages/docs/README.md
  docs/packages/file-ops/README.md
  docs/packages/index/README.md
  docs/packages/logging/README.md
  docs/packages/mcp/README.md
  docs/packages/schema/README.md
  docs/packages/state/README.md
  docs/packages/testing/README.md
  docs/packages/tooling/README.md
  docs/packages/tui/README.md
  docs/packages/types/README.md
  docs/reference/export-contracts.md
  package.json
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500444-mimvsu/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500444-mimvsu/docs/packages/config/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500446-e3llp7/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500446-emwcs1/docs/ARCHITECTURE.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500446-emwcs1/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500447-5hyo68/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500447-xibkft/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500448-u7foos/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500448-u7foos/docs/packages/tui/README.md
  packages/docs/src/command/create-docs-command.ts
  packages/tooling/src/cli/check-readme-imports.ts
Due: ultracite, typecheck

chore(docs): remove docs/packages/* mirrors (#533)
  .agents/plans/outfitter-docs-decisions.md
  .gitignore
  AGENTS.md
  apps/outfitter/README.md
  apps/outfitter/src/commands/repo.ts
  docs/README.md
  docs/packages/agents/README.md
  docs/packages/cli/HARVEST_MAP.md
  docs/packages/cli/README.md
  docs/packages/config/README.md
  docs/packages/contracts/README.md
  docs/packages/daemon/README.md
  docs/packages/docs/README.md
  docs/packages/file-ops/README.md
  docs/packages/index/README.md
  docs/packages/logging/README.md
  docs/packages/mcp/README.md
  docs/packages/schema/README.md
  docs/packages/state/README.md
  docs/packages/testing/README.md
  docs/packages/tooling/README.md
  docs/packages/tui/README.md
  docs/packages/types/README.md
  docs/reference/export-contracts.md
  package.json
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500444-mimvsu/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500444-mimvsu/docs/packages/config/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500446-e3llp7/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500446-emwcs1/docs/ARCHITECTURE.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500446-emwcs1/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500447-5hyo68/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500447-xibkft/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500448-u7foos/docs/packages/cli/README.md
  packages/docs/src/__tests__/__fixtures__/llms-full-test-1771733500448-u7foos/docs/packages/tui/README.md
  packages/docs/src/command/create-docs-command.ts
  packages/tooling/src/cli/check-readme-imports.ts
Due: ultracite, typecheck

feat(ci): add markdown link validation [OS-286]
  package.json
  packages/presets/README.md
  packages/tooling/package.json
  packages/tooling/src/__tests__/check-markdown-links.test.ts
  packages/tooling/src/cli/check-markdown-links.ts
Due: ultracite, typecheck

fix: register check-markdown-links in tooling CLI
  apps/outfitter/src/commands/repo.ts
  package.json
  packages/tooling/src/cli/index.ts
Due: ultracite, typecheck

feat(ci): add markdown link validation to CI (#534)
  apps/outfitter/src/commands/repo.ts
  package.json
  packages/presets/README.md
  packages/tooling/package.json
  packages/tooling/src/__tests__/check-markdown-links.test.ts
  packages/tooling/src/cli/check-markdown-links.ts
  packages/tooling/src/cli/index.ts
Due: ultracite, typecheck

feat(ci): add CLI surface drift check [OS-287]
  package.json
Due: ultracite

feat(ci): add CLI surface drift check to pre-push and CI (#535)
  package.json
Due: ultracite

docs: formalize .outfitter/ directory conventions [OS-289]
  AGENTS.md
  docs/README.md
  docs/reference/outfitter-directory.md
Due: none

docs: formalize .outfitter/ directory conventions (#536)
  AGENTS.md
  docs/README.md
  docs/reference/outfitter-directory.md
Due: none

feat(docs): add sentinel-wrapped generated sections to docs/README.md [OS-290]
  .gitignore
  .outfitter/surface.json
  apps/outfitter/.outfitter/surface.json
  bunup.config.ts
  docs/README.md
  docs/llms-full.txt
  docs/llms.txt
  package.json
  packages/docs/package.json
  packages/docs/src/__tests__/sentinel-generator.test.ts
  packages/docs/src/core/sentinel-generator.ts
  packages/docs/src/core/sentinel-sync.ts
  packages/docs/src/index.ts
Due: ultracite, typecheck

test(docs): cover sync-readme success path
  packages/docs/src/__tests__/docs-command.test.ts
Due: ultracite, typecheck

test(docs): cover sentinel-sync marker validation
  packages/docs/src/__tests__/sentinel-sync.test.ts
Due: ultracite, typecheck

test(docs): cover sync-readme sentinel marker validation
  package.json
  packages/docs/src/__tests__/docs-command.test.ts
  packages/docs/src/command/create-docs-command.ts
Due: ultracite, typecheck

feat(docs): add sentinel-wrapped generated sections to docs/README.md (#537)
  .gitignore
  .outfitter/surface.json
  apps/outfitter/.outfitter/surface.json
  bunup.config.ts
  docs/README.md
  docs/llms-full.txt
  docs/llms.txt
  package.json
  packages/docs/package.json
  packages/docs/src/__tests__/docs-command.test.ts
  packages/docs/src/__tests__/sentinel-generator.test.ts
  packages/docs/src/__tests__/sentinel-sync.test.ts
  packages/docs/src/command/create-docs-command.ts
  packages/docs/src/core/sentinel-generator.ts
  packages/docs/src/core/sentinel-sync.ts
  packages/docs/src/index.ts
Due: ultracite, typecheck

fix(ci): skip package docs drift check when mirrors are untracked
  package.json
Due: ultracite

ci(release): shift llms artifact checks to release flow
  .github/workflows/release.yml
  AGENTS.md
  docs/RELEASES.md
  docs/reference/export-contracts.md
  package.json
Due: ultracite

chore(docs): format sentinel sync script
  packages/docs/src/core/sentinel-sync.ts
Due: ultracite, typecheck

ci(release): move llms artifact regeneration to release flow (#538)
  .github/workflows/release.yml
  AGENTS.md
  docs/RELEASES.md
  docs/reference/export-contracts.md
  package.json
  packages/docs/src/core/sentinel-sync.ts
Due: ultracite, typecheck

fix(schema): canonicalize root surface map artifact
  .gitignore
  AGENTS.md
  apps/outfitter/.outfitter/surface.json
  apps/outfitter/README.md
  docs/reference/outfitter-directory.md
  package.json
Due: ultracite

fix(schema): canonicalize root surface map artifact (#539)
  .gitignore
  AGENTS.md
  apps/outfitter/.outfitter/surface.json
  apps/outfitter/README.md
  docs/reference/outfitter-directory.md
  package.json
Due: ultracite

fix(schema): harden surface metadata drift checks
  packages/cli/src/schema.ts
  packages/schema/src/__tests__/diff.test.ts
  packages/schema/src/diff.ts
  packages/schema/src/diff/actions.ts
  packages/schema/src/diff/index.ts
  packages/schema/src/diff/metadata.ts
  packages/schema/src/diff/shared.ts
  packages/schema/src/diff/types.ts
  packages/schema/src/index.ts
Due: ultracite, typecheck

fix(schema): avoid false-positive drift when both maps omit metadata
  packages/schema/src/__tests__/diff.test.ts
  packages/schema/src/diff/metadata.ts
Due: ultracite, typecheck

fix(schema): sync exports for diff metadata modules
  packages/schema/package.json
Due: ultracite

fix(schema): harden surface metadata drift checks (#540)
  packages/cli/src/schema.ts
  packages/schema/package.json
  packages/schema/src/__tests__/diff.test.ts
  packages/schema/src/diff.ts
  packages/schema/src/diff/actions.ts
  packages/schema/src/diff/index.ts
  packages/schema/src/diff/metadata.ts
  packages/schema/src/diff/shared.ts
  packages/schema/src/diff/types.ts
  packages/schema/src/index.ts
Due: ultracite, typecheck

chore(schema): stabilize surface map formatting contract
  .outfitter/surface.json
  AGENTS.md
  apps/outfitter/README.md
  biome.json
  docs/reference/outfitter-directory.md
  package.json
  scripts/check-surface-map-format.test.ts
  scripts/check-surface-map-format.ts
Due: ultracite, typecheck
