Repository outfitter-dev/outfitter: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, typecheck, sync-agent-scaffolding

.lefthook.yml:

# Lefthook configuration for Outfitter Stack
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    ultracite:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css}"
      run: bun x ultracite fix {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck

    sync-agent-scaffolding:
      glob: ".claude/{settings.json,hooks/*}"
      run: ./scripts/prebuild.sh
      stage_fixed: true

pre-push:
  parallel: false
  commands:
    verify:
      run: bun run packages/tooling/src/cli/index.ts pre-push

feat(schema): add cross-version snapshot diff (#414)
  packages/cli/src/__tests__/schema.test.ts
  packages/cli/src/schema.ts
  packages/schema/src/__tests__/snapshot-diff.test.ts
  packages/schema/src/index.ts
  packages/schema/src/surface.ts
Due: ultracite, typecheck

docs(cli): address documentation gaps for conventions rollout
  docs/CLI-CONVENTIONS.md
Due: none

docs(cli): address documentation gaps for conventions rollout (#415)
  docs/CLI-CONVENTIONS.md
Due: none

chore(schema): add missing changeset for @outfitter/schema
  .changeset/add-schema-package.md
Due: none

chore(schema): add missing changeset for @outfitter/schema (#417)
  .changeset/add-schema-package.md
Due: none

feat(schema): surface-aware markdown docs for MCP and CLI
  .changeset/schema-markdown-docs.md
  packages/cli/src/__tests__/schema.test.ts
  packages/cli/src/schema.ts
  packages/schema/package.json
  packages/schema/src/__tests__/markdown.test.ts
  packages/schema/src/index.ts
  packages/schema/src/markdown.ts
Due: ultracite, typecheck

fix(schema): handle oneOf types and filter actions by surface in markdown docs
  packages/schema/src/__tests__/markdown.test.ts
  packages/schema/src/markdown.ts
Due: ultracite, typecheck

feat(schema): add markdown reference doc generation for MCP and CLI (#418)
  .changeset/schema-markdown-docs.md
  packages/cli/src/__tests__/schema.test.ts
  packages/cli/src/schema.ts
  packages/schema/package.json
  packages/schema/src/__tests__/markdown.test.ts
  packages/schema/src/index.ts
  packages/schema/src/markdown.ts
Due: ultracite, typecheck

fix(ci): use RELEASE_PLEASE_TOKEN and harden auto-changeset workflow
  .github/workflows/auto-changeset.yml
Due: none

fix(ci): use RELEASE_PLEASE_TOKEN and harden auto-changeset workflow (#419)
  .github/workflows/auto-changeset.yml
Due: none

feat(plugins): add code fence linter for markdown files
  .claude/skills/check-skill-formatting/SKILL.md
  plugins/fieldguides/scripts/__tests__/lint-fences.test.ts
  plugins/fieldguides/scripts/lint-fences.ts
Due: ultracite, typecheck

fix(plugins): restrict fence regex to 0-3 spaces per CommonMark spec
  plugins/fieldguides/scripts/__tests__/lint-fences.test.ts
  plugins/fieldguides/scripts/lint-fences.ts
Due: ultracite, typecheck

feat(plugins): add code fence linter for markdown files (#423)
  .claude/skills/check-skill-formatting/SKILL.md
  plugins/fieldguides/scripts/__tests__/lint-fences.test.ts
  plugins/fieldguides/scripts/lint-fences.ts
Due: ultracite, typecheck

fix(plugins): handle inline HTML comments without skipping path scan
  plugins/fieldguides/scripts/__tests__/lint-relative-paths.test.ts
  plugins/fieldguides/scripts/lint-relative-paths.ts
Due: ultracite, typecheck

fix(plugins): replace relative ../ paths with plugin root refs
  .claude/skills/check-skill-formatting/SKILL.md
  plugins/fieldguides/README.md
  plugins/fieldguides/scripts/__tests__/lint-relative-paths.test.ts
  plugins/fieldguides/scripts/lint-relative-paths.ts
  plugins/fieldguides/skills/check-status/SKILL.md
  plugins/fieldguides/skills/codebase-analysis/SKILL.md
  plugins/fieldguides/skills/skill-distillery/references/stage-7-audit.md
  plugins/fieldguides/skills/skillcraft/references/codex.md
  plugins/fieldguides/skills/skillcraft/references/patterns.md
  plugins/fieldguides/skills/software-craft/SKILL.md
  plugins/outfitter/shared/guides/architecture.md
  plugins/outfitter/shared/guides/getting-started.md
  plugins/outfitter/skills/outfitter-start/templates/PLAN.md
Due: ultracite, typecheck

fix(plugins): replace relative ../ paths with plugin root refs (#424)
  .claude/skills/check-skill-formatting/SKILL.md
  plugins/fieldguides/README.md
  plugins/fieldguides/scripts/__tests__/lint-relative-paths.test.ts
  plugins/fieldguides/scripts/lint-relative-paths.ts
  plugins/fieldguides/skills/check-status/SKILL.md
  plugins/fieldguides/skills/codebase-analysis/SKILL.md
  plugins/fieldguides/skills/skill-distillery/references/stage-7-audit.md
  plugins/fieldguides/skills/skillcraft/references/codex.md
  plugins/fieldguides/skills/skillcraft/references/patterns.md
  plugins/fieldguides/skills/software-craft/SKILL.md
  plugins/outfitter/shared/guides/architecture.md
  plugins/outfitter/shared/guides/getting-started.md
  plugins/outfitter/skills/outfitter-start/templates/PLAN.md
Due: ultracite, typecheck

chore(ci): document PAT token rationale in auto-changeset workflow
  .github/workflows/auto-changeset.yml
Due: none

chore(ci): document PAT token rationale in auto-changeset workflow (#425)
  .github/workflows/auto-changeset.yml
Due: none

docs(architecture): align agent docs with current package inventory
  .claude/CLAUDE.md
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/PATTERNS.md
Due: none

docs(architecture): align AGENTS.md and linked docs with current inventory [OS-206] (#420)
  .claude/CLAUDE.md
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/PATTERNS.md
Due: none

docs(schema): audit and align docs package references [OS-207]
  docs/ARCHITECTURE.md
  docs/PATTERNS.md
  docs/README.md
  docs/packages/schema/README.md
  packages/schema/README.md
Due: none

docs: regenerate llms.txt with schema package
  docs/llms-full.txt
  docs/llms.txt
Due: none

fix(docs): address review feedback — missing import and box alignment
  docs/ARCHITECTURE.md
  docs/packages/schema/README.md
  packages/schema/README.md
Due: none

docs: remove dead @outfitter/kit references
  docs/ARCHITECTURE.md
  docs/README.md
Due: none

docs(schema): add @outfitter/schema README and align docs index [OS-207] (#422)
  docs/ARCHITECTURE.md
  docs/PATTERNS.md
  docs/README.md
  docs/llms-full.txt
  docs/llms.txt
  docs/packages/schema/README.md
  packages/schema/README.md
Due: none

fix(docs): correct CLI preset imports and schema migration version
  docs/llms-full.txt
  plugins/outfitter/shared/migrations/outfitter-schema-0.2.0.md
  plugins/outfitter/shared/patterns/cli.md
Due: none

docs(outfitter-plugin): remove dead @outfitter/kit reference
  plugins/outfitter/README.md
  plugins/outfitter/shared/guides/architecture.md
  plugins/outfitter/shared/migrations/README.md
  plugins/outfitter/shared/migrations/outfitter-cli-0.4.0.md
  plugins/outfitter/shared/migrations/outfitter-cli-0.4.1.md
  plugins/outfitter/shared/migrations/outfitter-config-0.3.1.md
  plugins/outfitter/shared/migrations/outfitter-daemon-0.2.2.md
  plugins/outfitter/shared/migrations/outfitter-file-ops-0.2.1.md
  plugins/outfitter/shared/migrations/outfitter-index-0.2.1.md
  plugins/outfitter/shared/migrations/outfitter-logging-0.4.0.md
  plugins/outfitter/shared/migrations/outfitter-mcp-0.4.0.md
  plugins/outfitter/shared/migrations/outfitter-schema-0.1.0.md
  plugins/outfitter/shared/migrations/outfitter-state-0.2.1.md
  plugins/outfitter/shared/migrations/outfitter-testing-0.2.2.md
  plugins/outfitter/shared/migrations/outfitter-tooling-0.2.3.md
  plugins/outfitter/shared/migrations/outfitter-tui-0.2.0.md
  plugins/outfitter/shared/patterns/cli.md
  plugins/outfitter/shared/patterns/schema.md
  plugins/outfitter/skills/outfitter-atlas/SKILL.md
Due: none

docs(outfitter-plugin): refresh package atlas, patterns, and migrations [OS-208] (#421)
  docs/llms-full.txt
  plugins/outfitter/README.md
  plugins/outfitter/shared/guides/architecture.md
  plugins/outfitter/shared/migrations/README.md
  plugins/outfitter/shared/migrations/outfitter-cli-0.4.0.md
  plugins/outfitter/shared/migrations/outfitter-cli-0.4.1.md
  plugins/outfitter/shared/migrations/outfitter-config-0.3.1.md
  plugins/outfitter/shared/migrations/outfitter-daemon-0.2.2.md
  plugins/outfitter/shared/migrations/outfitter-file-ops-0.2.1.md
  plugins/outfitter/shared/migrations/outfitter-index-0.2.1.md
  plugins/outfitter/shared/migrations/outfitter-logging-0.4.0.md
  plugins/outfitter/shared/migrations/outfitter-mcp-0.4.0.md
  plugins/outfitter/shared/migrations/outfitter-schema-0.2.0.md
  plugins/outfitter/shared/migrations/outfitter-state-0.2.1.md
  plugins/outfitter/shared/migrations/outfitter-testing-0.2.2.md
  plugins/outfitter/shared/migrations/outfitter-tooling-0.2.3.md
  plugins/outfitter/shared/migrations/outfitter-tui-0.2.0.md
  plugins/outfitter/shared/patterns/cli.md
  plugins/outfitter/shared/patterns/schema.md
  plugins/outfitter/skills/outfitter-atlas/SKILL.md
Due: none

feat(update): structured changes in migration frontmatter [OS-76]
  apps/outfitter/src/__tests__/update-frontmatter.test.ts
  apps/outfitter/src/commands/update.ts
  plugins/outfitter/shared/migrations/README.md
  plugins/outfitter/shared/migrations/outfitter-cli-0.4.0.md
Due: ultracite, typecheck

fix(update): avoid duplicate migration doc reads
  .outfitter/reports/upgrade.json
  apps/outfitter/src/commands/update.ts
Due: ultracite, typecheck

chore(update): drop local upgrade report artifact
  .outfitter/reports/upgrade.json
Due: ultracite

feat(upgrade): structured changes in migration frontmatter [OS-76] (#426)
  apps/outfitter/src/__tests__/update-frontmatter.test.ts
  apps/outfitter/src/commands/update.ts
  plugins/outfitter/shared/migrations/README.md
  plugins/outfitter/shared/migrations/outfitter-cli-0.4.0.md
Due: ultracite, typecheck

feat(update): codemod runner and format definition [OS-76]
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/update-codemods.test.ts
  apps/outfitter/src/commands/update-codemods.ts
  plugins/outfitter/shared/codemods/README.md
  plugins/outfitter/shared/codemods/cli/.gitkeep
  plugins/outfitter/shared/codemods/contracts/.gitkeep
Due: ultracite, typecheck

fix(update): harden codemod discovery and result validation
  apps/outfitter/src/__tests__/update-codemods.test.ts
  apps/outfitter/src/commands/update-codemods.ts
Due: ultracite, typecheck

feat(upgrade): codemod runner and format definition [OS-76] (#427)
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/update-codemods.test.ts
  apps/outfitter/src/commands/update-codemods.ts
  plugins/outfitter/shared/codemods/README.md
  plugins/outfitter/shared/codemods/cli/.gitkeep
  plugins/outfitter/shared/codemods/contracts/.gitkeep
Due: ultracite, typecheck

feat(update): wire codemods into --apply [OS-76]
  apps/outfitter/src/__tests__/update-codemods-integration.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/update.ts
  plugins/outfitter/shared/codemods/cli/0.4.0-move-tui-imports.ts
Due: ultracite, typecheck

fix(update): improve codemod wiring output and safety
  apps/outfitter/src/__tests__/actions.test.ts
  apps/outfitter/src/__tests__/update-codemods-integration.test.ts
  apps/outfitter/src/__tests__/update-guide.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/update.ts
  plugins/outfitter/shared/codemods/cli/0.4.0-move-tui-imports.ts
Due: ultracite, typecheck

feat(upgrade): wire codemods into upgrade flow [OS-76] (#428)
  apps/outfitter/src/__tests__/actions.test.ts
  apps/outfitter/src/__tests__/update-codemods-integration.test.ts
  apps/outfitter/src/__tests__/update-guide.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/update.ts
  plugins/outfitter/shared/codemods/cli/0.4.0-move-tui-imports.ts
Due: ultracite, typecheck

fix(skill): refresh autonomous update workflow docs
  plugins/outfitter/skills/outfitter-update/SKILL.md
  plugins/outfitter/skills/outfitter-update/references/autonomous-loop.md
Due: none

feat(skill): autonomous outfitter-update skill [OS-75]
  plugins/outfitter/skills/outfitter-update/SKILL.md
  plugins/outfitter/skills/outfitter-update/references/autonomous-loop.md
  plugins/outfitter/skills/outfitter-update/references/structured-changes.md
Due: none
