Repository outfitter-dev/outfitter: changes, and which lefthook commands are due for each by the changed paths.
All: format-check, lint, typecheck

format-check:
  run: bunx biome format --no-errors-on-unmatched {staged_files}
  stage_fixed: true

lint:
  run: bunx biome lint --no-errors-on-unmatched {staged_files}

typecheck:
  run: bun run typecheck

test(outfitter): make init test non-interactive
  apps/outfitter/src/__tests__/init.test.ts
  templates/basic/tsconfig.json.template
Due: format-check, lint, typecheck

fix(outfitter): honor string bin from package.json
  apps/outfitter/src/commands/init.ts
Due: format-check, lint, typecheck

refactor(outfitter): use Bun.semver for version checks
  apps/outfitter/src/commands/doctor.ts
Due: format-check, lint, typecheck

feat(outfitter): add doctor command for environment validation (#86)
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/doctor.test.ts
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/src/cli.ts
  apps/outfitter/src/commands/doctor.ts
  apps/outfitter/src/index.ts
Due: format-check, lint, typecheck

fix(daemon): harden lock handling
  packages/daemon/src/locking.ts
  packages/daemon/src/platform.ts
Due: format-check, lint, typecheck

fix(daemon): harden lock handling
  packages/daemon/src/platform.ts
Due: format-check, lint, typecheck

feat(daemon): add errors, platform, and locking module stubs (#87)
  packages/daemon/src/errors.ts
  packages/daemon/src/index.ts
  packages/daemon/src/locking.ts
  packages/daemon/src/platform.ts
Due: format-check, lint, typecheck

test(daemon): avoid hardcoded dead PID
  packages/daemon/src/__tests__/locking.test.ts
Due: format-check, lint, typecheck

fix(daemon): fix locking module bugs (GREEN phase) (#89)
  packages/daemon/src/locking.ts
Due: format-check, lint, typecheck

feat(kit): add @outfitter/kit meta-package
  bun.lock
  bunup.config.ts
  packages/kit/VERSIONS.md
  packages/kit/package.json
  packages/kit/src/index.ts
  packages/kit/tsconfig.json
Due: format-check, lint, typecheck

fix(cli): avoid forward cli reference
  packages/cli/src/cli.ts
Due: format-check, lint, typecheck

fix(cli): avoid forward reference in createCLI
  packages/cli/src/cli.ts
Due: format-check, lint, typecheck

fix(cli): implement createCLI and command builder
  packages/cli/src/__tests__/core.test.ts
  packages/cli/src/cli.ts
  packages/cli/src/command.ts
Due: format-check, lint, typecheck

fix(cli): implement confirmDestructive prompts (#104)
  bun.lock
  packages/cli/package.json
  packages/cli/src/__tests__/input.test.ts
  packages/cli/src/input.ts
Due: format-check, lint, typecheck

fix(templates): align cli tsconfig and logging
  templates/cli/src/program.ts.template
  templates/cli/tsconfig.json.template
Due: none

feat(templates): add MCP server project template
  templates/mcp/.gitignore.template
  templates/mcp/README.md.template
  templates/mcp/biome.json.template
  templates/mcp/package.json.template
  templates/mcp/src/index.ts.template
  templates/mcp/src/mcp.ts.template
  templates/mcp/src/server.ts.template
  templates/mcp/tsconfig.json.template
Due: none

fix(templates): align outfitter templates
  apps/outfitter/templates/basic/tsconfig.json.template
  apps/outfitter/templates/cli/src/program.ts.template
  apps/outfitter/templates/cli/tsconfig.json.template
  apps/outfitter/templates/daemon/src/cli.ts.template
  apps/outfitter/templates/daemon/tsconfig.json.template
  apps/outfitter/templates/mcp/src/mcp.ts.template
  apps/outfitter/templates/mcp/tsconfig.json.template
  templates/daemon/tsconfig.json.template
Due: none

docs: add README and CHANGELOG for testing, kit, outfitter (#95)
  apps/outfitter/CHANGELOG.md
  apps/outfitter/README.md
  packages/kit/CHANGELOG.md
  packages/kit/README.md
  packages/testing/CHANGELOG.md
  packages/testing/README.md
Due: format-check

chore(release): align package versions to 0.1.0
  apps/outfitter/CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/daemon/CHANGELOG.md
  packages/daemon/package.json
  packages/file-ops/CHANGELOG.md
  packages/file-ops/package.json
  packages/index/CHANGELOG.md
  packages/index/package.json
  packages/logging/CHANGELOG.md
  packages/logging/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/state/CHANGELOG.md
  packages/state/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: format-check

fix(errors): avoid TaggedError extends warnings
  packages/config/src/index.ts
  packages/contracts/src/errors.ts
  packages/contracts/src/index.ts
  packages/daemon/src/errors.ts
  packages/daemon/src/types.ts
  packages/mcp/src/types.ts
Due: format-check, lint, typecheck

chore(changesets): ignore app package
  .changeset/config.json
Due: format-check

chore(changesets): ignore app package (#107)
  .changeset/config.json
Due: format-check

chore(outfitter): avoid console in sync script
  scripts/sync-templates.ts
Due: format-check, lint, typecheck

chore(outfitter): sync templates on pack (#108)
  apps/outfitter/package.json
  scripts/sync-templates.ts
Due: format-check, lint, typecheck

feat(testing): add rc test helpers
  bun.lock
  packages/testing/package.json
  packages/testing/src/__tests__/cli-helpers.test.ts
  packages/testing/src/__tests__/mcp-harness.test.ts
  packages/testing/src/__tests__/mock-factories.test.ts
  packages/testing/src/cli-harness.ts
  packages/testing/src/cli-helpers.ts
  packages/testing/src/index.ts
  packages/testing/src/mcp-harness.ts
  packages/testing/src/mock-factories.ts
Due: format-check, lint, typecheck

feat(templates): standardize scripts and package names
  apps/outfitter/src/commands/init.ts
  apps/outfitter/templates/basic/package.json.template
  apps/outfitter/templates/basic/src/index.ts.template
  apps/outfitter/templates/cli/README.md.template
  apps/outfitter/templates/cli/package.json.template
  apps/outfitter/templates/daemon/README.md.template
  apps/outfitter/templates/daemon/package.json.template
  apps/outfitter/templates/mcp/README.md.template
  apps/outfitter/templates/mcp/package.json.template
  templates/basic/package.json.template
  templates/cli/README.md.template
  templates/cli/package.json.template
  templates/daemon/README.md.template
  templates/daemon/package.json.template
  templates/mcp/README.md.template
  templates/mcp/package.json.template
Due: format-check, lint, typecheck

feat(templates): standardize scripts and package names (#120)
  apps/outfitter/src/commands/init.ts
  apps/outfitter/templates/basic/package.json.template
  apps/outfitter/templates/basic/src/index.ts.template
  apps/outfitter/templates/cli/README.md.template
  apps/outfitter/templates/cli/package.json.template
  apps/outfitter/templates/daemon/README.md.template
  apps/outfitter/templates/daemon/package.json.template
  apps/outfitter/templates/mcp/README.md.template
  apps/outfitter/templates/mcp/package.json.template
  templates/basic/package.json.template
  templates/cli/README.md.template
  templates/cli/package.json.template
  templates/daemon/README.md.template
  templates/daemon/package.json.template
  templates/mcp/README.md.template
  templates/mcp/package.json.template
Due: format-check, lint, typecheck

feat(init): add rc init wizard and local deps (#121)
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/src/commands/init.ts
Due: format-check, lint, typecheck

feat(mcp): add core tools and stdio transport
  packages/mcp/src/__tests__/core-tools.test.ts
  packages/mcp/src/core-tools.ts
  packages/mcp/src/index.ts
  packages/mcp/src/server.ts
  packages/mcp/src/transport.ts
  packages/mcp/src/types.ts
Due: format-check, lint, typecheck

feat(mcp): add core tools and stdio transport (#122)
  packages/mcp/src/__tests__/core-tools.test.ts
  packages/mcp/src/core-tools.ts
  packages/mcp/src/index.ts
  packages/mcp/src/server.ts
  packages/mcp/src/transport.ts
  packages/mcp/src/types.ts
Due: format-check, lint, typecheck

feat(capabilities): add action capability manifest (#124)
  docs/v0.1-rc/PLAN.md
  docs/v0.1-rc/README.md
  packages/contracts/src/__tests__/capabilities.test.ts
  packages/contracts/src/capabilities.ts
  packages/contracts/src/index.ts
Due: format-check, lint, typecheck

feat(contracts): add action registry
  packages/contracts/src/__tests__/actions.test.ts
  packages/contracts/src/actions.ts
  packages/contracts/src/capabilities.ts
  packages/contracts/src/index.ts
Due: format-check, lint, typecheck

feat(contracts): add action registry (#125)
  packages/contracts/src/__tests__/actions.test.ts
  packages/contracts/src/actions.ts
  packages/contracts/src/capabilities.ts
  packages/contracts/src/index.ts
Due: format-check, lint, typecheck

feat(cli): add action registry adapter
  packages/cli/src/__tests__/actions.test.ts
  packages/cli/src/actions.ts
  packages/cli/src/cli.ts
  packages/cli/src/command.ts
  packages/cli/src/index.ts
  packages/cli/src/types.ts
  packages/contracts/src/actions.ts
Due: format-check, lint, typecheck

feat(cli): add action registry adapter (#126)
  packages/cli/src/__tests__/actions.test.ts
  packages/cli/src/actions.ts
  packages/cli/src/cli.ts
  packages/cli/src/command.ts
  packages/cli/src/index.ts
  packages/cli/src/types.ts
  packages/contracts/src/actions.ts
Due: format-check, lint, typecheck

feat(outfitter): dogfood action registry (#128)
  apps/outfitter/package.json
  apps/outfitter/src/actions.ts
  apps/outfitter/src/cli.ts
  apps/outfitter/src/commands/doctor.ts
  apps/outfitter/src/index.ts
  bun.lock
Due: format-check, lint, typecheck

feat(templates): normalize placeholder usage
  templates/basic/src/index.ts.template
Due: none

feat(templates): normalize placeholder usage (#130)
  templates/basic/src/index.ts.template
Due: none

feat(rc): prep 0.1.0-rc.0 publish
  apps/outfitter/README.md
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/src/cli.ts
  apps/outfitter/src/commands/init.ts
  apps/outfitter/templates/cli/package.json.template
  apps/outfitter/templates/cli/src/program.ts.template
  apps/outfitter/templates/daemon/README.md.template
  apps/outfitter/templates/daemon/package.json.template
  apps/outfitter/templates/daemon/src/cli.ts.template
  apps/outfitter/templates/daemon/src/daemon-main.ts.template
  apps/outfitter/templates/mcp/package.json.template
  apps/outfitter/templates/mcp/src/mcp.ts.template
  packages/cli/package.json
  packages/cli/src/__tests__/core.test.ts
  packages/config/package.json
  packages/contracts/package.json
  packages/daemon/package.json
  packages/file-ops/package.json
  packages/index/package.json
  packages/kit/README.md
  packages/kit/VERSIONS.md
  packages/kit/package.json
  packages/kit/src/index.ts
  packages/logging/package.json
  packages/mcp/package.json
  packages/state/package.json
  packages/testing/package.json
  packages/types/package.json
  packages/ui/package.json
  templates/cli/package.json.template
  templates/cli/src/program.ts.template
  templates/daemon/README.md.template
  templates/daemon/package.json.template
  templates/daemon/src/cli.ts.template
  templates/daemon/src/daemon-main.ts.template
  templates/mcp/package.json.template
  templates/mcp/src/mcp.ts.template
Due: format-check, lint, typecheck

feat(rc): prep 0.1.0-rc.0 publish (#131)
  apps/outfitter/README.md
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/src/cli.ts
  apps/outfitter/src/commands/init.ts
  apps/outfitter/templates/cli/package.json.template
  apps/outfitter/templates/cli/src/program.ts.template
  apps/outfitter/templates/daemon/README.md.template
  apps/outfitter/templates/daemon/package.json.template
  apps/outfitter/templates/daemon/src/cli.ts.template
  apps/outfitter/templates/daemon/src/daemon-main.ts.template
  apps/outfitter/templates/mcp/package.json.template
  apps/outfitter/templates/mcp/src/mcp.ts.template
  packages/cli/package.json
  packages/cli/src/__tests__/core.test.ts
  packages/config/package.json
  packages/contracts/package.json
  packages/daemon/package.json
  packages/file-ops/package.json
  packages/index/package.json
  packages/kit/README.md
  packages/kit/VERSIONS.md
  packages/kit/package.json
  packages/kit/src/index.ts
  packages/logging/package.json
  packages/mcp/package.json
  packages/state/package.json
  packages/testing/package.json
  packages/types/package.json
  packages/ui/package.json
  templates/cli/package.json.template
  templates/cli/src/program.ts.template
  templates/daemon/README.md.template
  templates/daemon/package.json.template
  templates/daemon/src/cli.ts.template
  templates/daemon/src/daemon-main.ts.template
  templates/mcp/package.json.template
  templates/mcp/src/mcp.ts.template
Due: format-check, lint, typecheck

Path conditions:
  format-check: any of: *.{js,ts,tsx,json,md}
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
