Repository outfitter-dev/outfitter: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, typecheck, check-exports, sync-agent-scaffolding

ultracite:
  run: bun x ultracite fix {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck -- --only

check-exports:
  run: bun run check-exports

sync-agent-scaffolding:
  run: ./scripts/sync-agent-scaffolding.sh
  stage_fixed: true

feat(presets): replace biome templates with oxlint/oxfmt (#560)
  apps/outfitter/src/engine/executor.ts
  packages/presets/presets/basic/.lefthook.yml.template
  packages/presets/presets/basic/package.json.template
  packages/presets/presets/cli/.lefthook.yml.template
  packages/presets/presets/cli/biome.json.template
  packages/presets/presets/cli/package.json.template
  packages/presets/presets/daemon/.lefthook.yml.template
  packages/presets/presets/daemon/biome.json.template
  packages/presets/presets/daemon/package.json.template
  packages/presets/presets/full-stack/apps/cli/package.json.template
  packages/presets/presets/full-stack/apps/mcp/package.json.template
  packages/presets/presets/full-stack/packages/core/package.json.template
  packages/presets/presets/library/package.json.template
  packages/presets/presets/mcp/.lefthook.yml.template
  packages/presets/presets/mcp/biome.json.template
  packages/presets/presets/mcp/package.json.template
  packages/presets/presets/minimal/.lefthook.yml.template
  packages/presets/presets/minimal/package.json.template
  templates/basic/.lefthook.yml.template
  templates/basic/package.json.template
  templates/cli/.lefthook.yml.template
  templates/cli/biome.json.template
  templates/cli/package.json.template
  templates/daemon/.lefthook.yml.template
  templates/daemon/biome.json.template
  templates/daemon/package.json.template
  templates/full-stack/apps/cli/package.json.template
  templates/full-stack/apps/mcp/package.json.template
  templates/full-stack/packages/core/package.json.template
  templates/library/package.json.template
  templates/mcp/.lefthook.yml.template
  templates/mcp/biome.json.template
  templates/mcp/package.json.template
  templates/minimal/.lefthook.yml.template
  templates/minimal/package.json.template
Due: ultracite, typecheck, check-exports

chore(deps): remove @biomejs/biome from catalog and all dependencies
  apps/outfitter/src/commands/shared-deps.ts
  bun.lock
  package.json
  packages/presets/package.json
  scripts/check-preset-dependency-versions.ts
Due: ultracite, typecheck, check-exports

chore(deps): remove @biomejs/biome from catalog and all dependencies (#561)
  apps/outfitter/src/commands/shared-deps.ts
  bun.lock
  package.json
  packages/presets/package.json
  scripts/check-preset-dependency-versions.ts
Due: ultracite, typecheck, check-exports

docs: update IDE configs, Claude rules, and docs for oxlint/oxfmt
  .claude/rules/tooling-testing.md
  .claude/rules/ultracite.md
  .outfitter/surface.json
  .zed/settings.json
  AGENTS.md
  apps/outfitter/README.md
  apps/outfitter/src/__tests__/action-mapinput.test.ts
  apps/outfitter/src/__tests__/actions.test.ts
  apps/outfitter/src/__tests__/check.test.ts
  apps/outfitter/src/actions/add.ts
  apps/outfitter/src/actions/init.ts
  packages/agents/README.md
  packages/tooling/README.md
  plugins/fieldguides/skills/claude-craft/SKILL.md
  plugins/fieldguides/skills/claude-craft/references/hooks/examples.md
  plugins/fieldguides/skills/claude-craft/references/hooks/hook-types.md
  plugins/fieldguides/skills/claude-craft/references/hooks/schema.md
  plugins/fieldguides/skills/claude-plugins/references/structure.md
  plugins/fieldguides/templates/hooks/post-tool-use-formatter/format.sh
  plugins/outfitter/README.md
  plugins/outfitter/shared/guides/architecture.md
  plugins/outfitter/skills/outfitter-atlas/SKILL.md
  plugins/outfitter/skills/outfitter-start/SKILL.md
  plugins/outfitter/skills/outfitter-start/references/new-project-scaffolding.md
Due: ultracite, typecheck, check-exports

fix: address Greptile review — add organizeImports.oxc, fix config filenames in docs
  .zed/settings.json
  plugins/outfitter/skills/outfitter-start/references/new-project-scaffolding.md
Due: ultracite

fix(docs): fall back to prettier when ultracite is unavailable
  plugins/fieldguides/skills/claude-craft/references/hooks/examples.md
  plugins/fieldguides/templates/hooks/post-tool-use-formatter/format.sh
Due: none

docs(ide): update configs, rules, and docs for oxlint/oxfmt migration (#562)
  .claude/rules/tooling-testing.md
  .claude/rules/ultracite.md
  .outfitter/surface.json
  .zed/settings.json
  AGENTS.md
  apps/outfitter/README.md
  apps/outfitter/src/__tests__/action-mapinput.test.ts
  apps/outfitter/src/__tests__/actions.test.ts
  apps/outfitter/src/__tests__/check.test.ts
  apps/outfitter/src/actions/add.ts
  apps/outfitter/src/actions/init.ts
  packages/agents/README.md
  packages/tooling/README.md
  plugins/fieldguides/skills/claude-craft/SKILL.md
  plugins/fieldguides/skills/claude-craft/references/hooks/examples.md
  plugins/fieldguides/skills/claude-craft/references/hooks/hook-types.md
  plugins/fieldguides/skills/claude-craft/references/hooks/schema.md
  plugins/fieldguides/skills/claude-plugins/references/structure.md
  plugins/fieldguides/templates/hooks/post-tool-use-formatter/format.sh
  plugins/outfitter/README.md
  plugins/outfitter/shared/guides/architecture.md
  plugins/outfitter/skills/outfitter-atlas/SKILL.md
  plugins/outfitter/skills/outfitter-start/SKILL.md
  plugins/outfitter/skills/outfitter-start/references/new-project-scaffolding.md
Due: ultracite, typecheck, check-exports

chore(build): remove dead DTS splitting version guard
  bunup.config.ts
Due: ultracite, typecheck, check-exports

chore(build): remove dead DTS splitting version guard (#563)
  bunup.config.ts
Due: ultracite, typecheck, check-exports

fix(build): key turbo cache on Bun version
  turbo.json
Due: ultracite

fix(build): key turbo cache on Bun version (#564)
  turbo.json
Due: ultracite

fix(build): disable turbo daemon to prevent pre-commit deadlock
  package.json
Due: ultracite

fix(build): disable turbo daemon to prevent pre-commit deadlock (#565)
  package.json
Due: ultracite

feat(oxlint-plugin): scaffold @outfitter/oxlint-plugin package
  bun.lock
  bunup.config.ts
  docs/README.md
  packages/oxlint-plugin/CHANGELOG.md
  packages/oxlint-plugin/README.md
  packages/oxlint-plugin/package.json
  packages/oxlint-plugin/src/__tests__/fixtures.test.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/.gitkeep
  packages/oxlint-plugin/src/__tests__/fixtures/valid/.gitkeep
  packages/oxlint-plugin/src/__tests__/plugin.test.ts
  packages/oxlint-plugin/src/index.ts
  packages/oxlint-plugin/src/rules/index.ts
  packages/oxlint-plugin/tsconfig.json
Due: ultracite, typecheck, check-exports

fix(oxlint-plugin): sync scaffold metadata and usage examples
  packages/oxlint-plugin/README.md
  packages/oxlint-plugin/src/__tests__/plugin.test.ts
  packages/oxlint-plugin/src/index.ts
Due: ultracite, typecheck, check-exports

fix(oxlint-plugin): mark eslint peer optional and fix package list order
  docs/README.md
  packages/oxlint-plugin/package.json
Due: ultracite

feat(oxlint-plugin): scaffold @outfitter/oxlint-plugin package (#550)
  bun.lock
  bunup.config.ts
  docs/README.md
  packages/oxlint-plugin/CHANGELOG.md
  packages/oxlint-plugin/README.md
  packages/oxlint-plugin/package.json
  packages/oxlint-plugin/src/__tests__/fixtures.test.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/.gitkeep
  packages/oxlint-plugin/src/__tests__/fixtures/valid/.gitkeep
  packages/oxlint-plugin/src/__tests__/plugin.test.ts
  packages/oxlint-plugin/src/index.ts
  packages/oxlint-plugin/src/rules/index.ts
  packages/oxlint-plugin/tsconfig.json
Due: ultracite, typecheck, check-exports

feat(eslint-plugin-outfitter): implement phase 1 core safety rules
  bunup.config.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/max-file-lines-error.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/max-file-lines-warn.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/no-console-in-packages.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/no-process-env-in-packages.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/no-process-exit-in-packages.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/no-throw-in-handler.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/max-file-lines.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/no-console-in-packages.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/no-process-env-in-packages.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/no-process-exit-in-packages.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/no-throw-in-handler.ts
  packages/oxlint-plugin/src/__tests__/plugin.test.ts
  packages/oxlint-plugin/src/__tests__/rule-test-helpers.ts
  packages/oxlint-plugin/src/__tests__/rules/max-file-lines.test.ts
  packages/oxlint-plugin/src/__tests__/rules/no-console-in-packages.test.ts
  packages/oxlint-plugin/src/__tests__/rules/no-process-env-in-packages.test.ts
  packages/oxlint-plugin/src/__tests__/rules/no-process-exit-in-packages.test.ts
  packages/oxlint-plugin/src/__tests__/rules/no-throw-in-handler.test.ts
  packages/oxlint-plugin/src/index.ts
  packages/oxlint-plugin/src/rules/index.ts
  packages/oxlint-plugin/src/rules/max-file-lines.ts
  packages/oxlint-plugin/src/rules/no-console-in-packages.ts
  packages/oxlint-plugin/src/rules/no-process-env-in-packages.ts
  packages/oxlint-plugin/src/rules/no-process-exit-in-packages.ts
  packages/oxlint-plugin/src/rules/no-throw-in-handler.ts
  packages/oxlint-plugin/src/rules/shared.ts
Due: ultracite, typecheck, check-exports

fix(oxlint-plugin): include .spec. files in TEST_FILE_PATTERN
  packages/oxlint-plugin/src/rules/shared.ts
Due: ultracite, typecheck, check-exports

fix(oxlint-plugin): correct max-file-lines threshold behavior
  packages/oxlint-plugin/src/__tests__/plugin.test.ts
  packages/oxlint-plugin/src/__tests__/rules/max-file-lines.test.ts
  packages/oxlint-plugin/src/index.ts
  packages/oxlint-plugin/src/rules/max-file-lines.ts
Due: ultracite, typecheck, check-exports

feat(oxlint-plugin): implement phase 1 core safety rules (#551)
  bunup.config.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/max-file-lines-error.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/max-file-lines-warn.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/no-console-in-packages.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/no-process-env-in-packages.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/no-process-exit-in-packages.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/no-throw-in-handler.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/max-file-lines.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/no-console-in-packages.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/no-process-env-in-packages.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/no-process-exit-in-packages.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/no-throw-in-handler.ts
  packages/oxlint-plugin/src/__tests__/plugin.test.ts
  packages/oxlint-plugin/src/__tests__/rule-test-helpers.ts
  packages/oxlint-plugin/src/__tests__/rules/max-file-lines.test.ts
  packages/oxlint-plugin/src/__tests__/rules/no-console-in-packages.test.ts
  packages/oxlint-plugin/src/__tests__/rules/no-process-env-in-packages.test.ts
  packages/oxlint-plugin/src/__tests__/rules/no-process-exit-in-packages.test.ts
  packages/oxlint-plugin/src/__tests__/rules/no-throw-in-handler.test.ts
  packages/oxlint-plugin/src/index.ts
  packages/oxlint-plugin/src/rules/index.ts
  packages/oxlint-plugin/src/rules/max-file-lines.ts
  packages/oxlint-plugin/src/rules/no-console-in-packages.ts
  packages/oxlint-plugin/src/rules/no-process-env-in-packages.ts
  packages/oxlint-plugin/src/rules/no-process-exit-in-packages.ts
  packages/oxlint-plugin/src/rules/no-throw-in-handler.ts
  packages/oxlint-plugin/src/rules/shared.ts
Due: ultracite, typecheck, check-exports

feat(eslint-plugin-outfitter): add prefer-bun-api rule
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/prefer-bun-api.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/prefer-bun-api.ts
  packages/oxlint-plugin/src/__tests__/plugin.test.ts
  packages/oxlint-plugin/src/__tests__/rule-test-helpers.ts
  packages/oxlint-plugin/src/__tests__/rules/prefer-bun-api.test.ts
  packages/oxlint-plugin/src/index.ts
  packages/oxlint-plugin/src/rules/index.ts
  packages/oxlint-plugin/src/rules/prefer-bun-api.ts
Due: ultracite, typecheck, check-exports

fix(oxlint-plugin): ignore type-only imports in prefer-bun-api
  packages/oxlint-plugin/src/__tests__/rules/prefer-bun-api.test.ts
  packages/oxlint-plugin/src/rules/prefer-bun-api.ts
Due: ultracite, typecheck, check-exports

fix(oxlint-plugin): allow empty string to disable default import mappings
  packages/oxlint-plugin/src/__tests__/rules/prefer-bun-api.test.ts
  packages/oxlint-plugin/src/rules/prefer-bun-api.ts
Due: ultracite, typecheck, check-exports

feat(oxlint-plugin): add prefer-bun-api rule (#552)
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/prefer-bun-api.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/prefer-bun-api.ts
  packages/oxlint-plugin/src/__tests__/plugin.test.ts
  packages/oxlint-plugin/src/__tests__/rule-test-helpers.ts
  packages/oxlint-plugin/src/__tests__/rules/prefer-bun-api.test.ts
  packages/oxlint-plugin/src/index.ts
  packages/oxlint-plugin/src/rules/index.ts
  packages/oxlint-plugin/src/rules/prefer-bun-api.ts
Due: ultracite, typecheck, check-exports

feat(eslint-plugin-outfitter): add no-cross-tier-import rule
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/no-cross-tier-import.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/no-cross-tier-import.ts
  packages/oxlint-plugin/src/__tests__/plugin.test.ts
  packages/oxlint-plugin/src/__tests__/rule-test-helpers.ts
  packages/oxlint-plugin/src/__tests__/rules/no-cross-tier-import.test.ts
  packages/oxlint-plugin/src/index.ts
  packages/oxlint-plugin/src/rules/index.ts
  packages/oxlint-plugin/src/rules/no-cross-tier-import.ts
Due: ultracite, typecheck, check-exports

fix(oxlint-plugin): allow higher-tier imports in no-cross-tier-import
  packages/oxlint-plugin/src/__tests__/rules/no-cross-tier-import.test.ts
  packages/oxlint-plugin/src/rules/no-cross-tier-import.ts
Due: ultracite, typecheck, check-exports

fix(oxlint-plugin): enforce tier boundaries on re-exports
  packages/oxlint-plugin/src/__tests__/rules/no-cross-tier-import.test.ts
  packages/oxlint-plugin/src/rules/no-cross-tier-import.ts
Due: ultracite, typecheck, check-exports

feat(oxlint-plugin): add no-cross-tier-import rule (#553)
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/no-cross-tier-import.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/no-cross-tier-import.ts
  packages/oxlint-plugin/src/__tests__/plugin.test.ts
  packages/oxlint-plugin/src/__tests__/rule-test-helpers.ts
  packages/oxlint-plugin/src/__tests__/rules/no-cross-tier-import.test.ts
  packages/oxlint-plugin/src/index.ts
  packages/oxlint-plugin/src/rules/index.ts
  packages/oxlint-plugin/src/rules/no-cross-tier-import.ts
Due: ultracite, typecheck, check-exports

test(oxlint-plugin): add bare .. import path coverage
  packages/oxlint-plugin/src/__tests__/rules/no-deep-relative-import.test.ts
Due: ultracite, typecheck, check-exports

fix(oxlint-plugin): count terminal parent segments in deep imports
  packages/oxlint-plugin/src/__tests__/rules/no-deep-relative-import.test.ts
  packages/oxlint-plugin/src/rules/no-deep-relative-import.ts
Due: ultracite, typecheck, check-exports

fix(oxlint-plugin): fix bare '..' import detection and deduplicate import source helpers
  packages/oxlint-plugin/src/rules/no-cross-tier-import.ts
  packages/oxlint-plugin/src/rules/no-deep-relative-import.ts
  packages/oxlint-plugin/src/rules/shared.ts
Due: ultracite, typecheck, check-exports

feat(eslint-plugin-outfitter): add remaining phase 2 architecture rules
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/handler-must-return-result.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/no-deep-relative-import.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/use-error-taxonomy.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/handler-must-return-result.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/no-deep-relative-import.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/use-error-taxonomy.ts
  packages/oxlint-plugin/src/__tests__/plugin.test.ts
  packages/oxlint-plugin/src/__tests__/rules/handler-must-return-result.test.ts
  packages/oxlint-plugin/src/__tests__/rules/no-deep-relative-import.test.ts
  packages/oxlint-plugin/src/__tests__/rules/use-error-taxonomy.test.ts
  packages/oxlint-plugin/src/index.ts
  packages/oxlint-plugin/src/rules/handler-must-return-result.ts
  packages/oxlint-plugin/src/rules/index.ts
  packages/oxlint-plugin/src/rules/no-deep-relative-import.ts
  packages/oxlint-plugin/src/rules/use-error-taxonomy.ts
Due: ultracite, typecheck, check-exports

feat(oxlint-plugin): add remaining phase 2 architecture rules (#554)
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/handler-must-return-result.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/no-deep-relative-import.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/use-error-taxonomy.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/handler-must-return-result.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/no-deep-relative-import.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/use-error-taxonomy.ts
  packages/oxlint-plugin/src/__tests__/plugin.test.ts
  packages/oxlint-plugin/src/__tests__/rules/handler-must-return-result.test.ts
  packages/oxlint-plugin/src/__tests__/rules/no-deep-relative-import.test.ts
  packages/oxlint-plugin/src/__tests__/rules/use-error-taxonomy.test.ts
  packages/oxlint-plugin/src/index.ts
  packages/oxlint-plugin/src/rules/handler-must-return-result.ts
  packages/oxlint-plugin/src/rules/index.ts
  packages/oxlint-plugin/src/rules/no-cross-tier-import.ts
  packages/oxlint-plugin/src/rules/no-deep-relative-import.ts
  packages/oxlint-plugin/src/rules/shared.ts
  packages/oxlint-plugin/src/rules/use-error-taxonomy.ts
Due: ultracite, typecheck, check-exports

fix(oxlint-plugin): detect generic defineAction registrations
  packages/oxlint-plugin/src/__tests__/rules/action-must-register.test.ts
  packages/oxlint-plugin/src/rules/action-must-register.ts
Due: ultracite, typecheck, check-exports

feat(eslint-plugin-outfitter): add phase 3 hygiene lint rules
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/action-must-register.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/no-nested-barrel.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/snapshot-location.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/test-file-naming.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/action-must-register.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/no-nested-barrel.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/snapshot-location.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/test-file-naming.ts
  packages/oxlint-plugin/src/__tests__/plugin.test.ts
  packages/oxlint-plugin/src/__tests__/rules/action-must-register.test.ts
  packages/oxlint-plugin/src/__tests__/rules/no-nested-barrel.test.ts
  packages/oxlint-plugin/src/__tests__/rules/snapshot-location.test.ts
  packages/oxlint-plugin/src/__tests__/rules/test-file-naming.test.ts
  packages/oxlint-plugin/src/index.ts
  packages/oxlint-plugin/src/rules/action-must-register.ts
  packages/oxlint-plugin/src/rules/index.ts
  packages/oxlint-plugin/src/rules/no-nested-barrel.ts
  packages/oxlint-plugin/src/rules/snapshot-location.ts
  packages/oxlint-plugin/src/rules/test-file-naming.ts
Due: ultracite, typecheck, check-exports

feat(oxlint-plugin): add phase 3 hygiene rules (#555)
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/action-must-register.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/no-nested-barrel.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/snapshot-location.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/test-file-naming.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/action-must-register.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/no-nested-barrel.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/snapshot-location.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/test-file-naming.ts
  packages/oxlint-plugin/src/__tests__/plugin.test.ts
  packages/oxlint-plugin/src/__tests__/rules/action-must-register.test.ts
  packages/oxlint-plugin/src/__tests__/rules/no-nested-barrel.test.ts
  packages/oxlint-plugin/src/__tests__/rules/snapshot-location.test.ts
  packages/oxlint-plugin/src/__tests__/rules/test-file-naming.test.ts
  packages/oxlint-plugin/src/index.ts
  packages/oxlint-plugin/src/rules/action-must-register.ts
  packages/oxlint-plugin/src/rules/index.ts
  packages/oxlint-plugin/src/rules/no-nested-barrel.ts
  packages/oxlint-plugin/src/rules/snapshot-location.ts
  packages/oxlint-plugin/src/rules/test-file-naming.ts
Due: ultracite, typecheck, check-exports

fix(ci): normalize bun.lock for frozen installs
  bun.lock
Due: none

chore(docs): refresh README package sentinel
  docs/README.md
Due: none

Path conditions:
  ultracite: any of: *.{js,jsx,ts,tsx,json,jsonc,css}
  typecheck: any of: *.{ts,tsx}
  check-exports: any of: *.{ts,tsx}
  sync-agent-scaffolding: any of: .claude/{settings.json,hooks/*}
