Repository outfitter-dev/outfitter: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, typecheck, check-exports, sync-agent-scaffolding

ultracite:
  run: bun x ultracite fix {staged_files}
  stage_fixed: true

typecheck:
  run: ./scripts/pre-commit-typecheck.sh {staged_files}

check-exports:
  run: bun run check-exports

sync-agent-scaffolding:
  run: ./scripts/sync-agent-scaffolding.sh
  stage_fixed: true

feat(outfitter): migrate standalone checks into CLI commands (#584)
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/check-automation-actions.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/actions/check-automation.ts
  apps/outfitter/src/commands/check-docs-sentinel.ts
  apps/outfitter/src/commands/check-orchestrator.ts
  apps/outfitter/src/commands/check-preset-versions.ts
  apps/outfitter/src/commands/check-publish-guardrails.ts
  apps/outfitter/src/commands/check-surface-map-format.ts
  apps/outfitter/src/commands/check-surface-map.ts
  package.json
  scripts/check-docs-readme-sentinel.ts
  scripts/check-preset-dependency-versions.ts
  scripts/check-publish-guardrails.ts
  scripts/check-surface-map-format.ts
Due: ultracite, typecheck, check-exports

chore(root): streamline script surface for verify and sync
  AGENTS.md
  apps/outfitter/README.md
  apps/outfitter/src/commands/check-orchestrator.ts
  docs/README.md
  docs/reference/outfitter-directory.md
  package.json
Due: ultracite, typecheck, check-exports

chore(root): streamline script surface for verify and sync (#585)
  AGENTS.md
  apps/outfitter/README.md
  apps/outfitter/src/commands/check-orchestrator.ts
  docs/README.md
  docs/reference/outfitter-directory.md
  package.json
Due: ultracite, typecheck, check-exports

ci: switch pipeline to build then verify:ci
  .github/workflows/ci.yml
Due: none

ci: switch pipeline to build then verify:ci (#586)
  .github/workflows/ci.yml
Due: none

chore(hooks): migrate lefthook to check orchestrator modes
  .lefthook.yml
  apps/outfitter/src/actions/check.ts
Due: ultracite, typecheck, check-exports

chore(hooks): migrate lefthook to check orchestrator modes (#587)
  .lefthook.yml
  apps/outfitter/src/actions/check.ts
Due: ultracite, typecheck, check-exports

ci(release): update pipeline to new verify and docs scripts
  .github/workflows/release.yml
  package.json
Due: ultracite

ci(release): update pipeline to new verify and docs scripts (#588)
  .github/workflows/release.yml
  package.json
Due: ultracite

fix(outfitter): run check orchestrator sequentially and surface advisories
  apps/outfitter/src/__tests__/check-orchestrator.test.ts
  apps/outfitter/src/commands/check-orchestrator.ts
Due: ultracite, typecheck, check-exports

fix(outfitter): run check orchestrator sequentially and surface advisories (#595)
  apps/outfitter/src/__tests__/check-orchestrator.test.ts
  apps/outfitter/src/commands/check-orchestrator.ts
Due: ultracite, typecheck, check-exports

chore(outfitter): finalize check migration cleanup
  .outfitter/surface.json
  AGENTS.md
  apps/outfitter/src/__tests__/check-docs-sentinel.test.ts
  apps/outfitter/src/__tests__/check-orchestrator.test.ts
  apps/outfitter/src/__tests__/check-publish-guardrails.test.ts
  apps/outfitter/src/__tests__/check-surface-map-format.test.ts
  apps/outfitter/src/commands/check-orchestrator.ts
  docs/ARCHITECTURE.md
  docs/reference/export-contracts.md
  scripts/check-docs-readme-sentinel.ts
  scripts/check-preset-dependency-versions.ts
  scripts/check-publish-guardrails.ts
  scripts/check-surface-map-format.ts
Due: ultracite, typecheck, check-exports

chore(outfitter): finalize check migration cleanup (#589)
  .outfitter/surface.json
  AGENTS.md
  apps/outfitter/src/__tests__/check-docs-sentinel.test.ts
  apps/outfitter/src/__tests__/check-orchestrator.test.ts
  apps/outfitter/src/__tests__/check-publish-guardrails.test.ts
  apps/outfitter/src/__tests__/check-surface-map-format.test.ts
  apps/outfitter/src/commands/check-orchestrator.ts
  docs/ARCHITECTURE.md
  docs/reference/export-contracts.md
  scripts/check-docs-readme-sentinel.ts
  scripts/check-preset-dependency-versions.ts
  scripts/check-publish-guardrails.ts
  scripts/check-surface-map-format.ts
Due: ultracite, typecheck, check-exports

fix(outfitter): restore check output env fallback semantics
  apps/outfitter/src/__tests__/action-mapinput.test.ts
  apps/outfitter/src/actions/check-automation.ts
  apps/outfitter/src/actions/check.ts
  apps/outfitter/src/actions/shared.ts
Due: ultracite, typecheck, check-exports

fix(outfitter): restore check output env fallback semantics (#596)
  apps/outfitter/src/__tests__/action-mapinput.test.ts
  apps/outfitter/src/actions/check-automation.ts
  apps/outfitter/src/actions/check.ts
  apps/outfitter/src/actions/shared.ts
Due: ultracite, typecheck, check-exports

test(check): validate automation output mode through CLI path
  apps/outfitter/src/__tests__/check-automation-actions.test.ts
Due: ultracite, typecheck, check-exports

test(check): validate automation output mode through CLI path (#597)
  apps/outfitter/src/__tests__/check-automation-actions.test.ts
Due: ultracite, typecheck, check-exports

feat(ci): add explicit test concurrency guardrails
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  apps/outfitter/src/__tests__/check-orchestrator.test.ts
  apps/outfitter/src/commands/check-orchestrator.ts
  docs/reference/export-contracts.md
  package.json
  scripts/ci-test-runner.test.ts
  scripts/ci-test-runner.ts
Due: ultracite, typecheck, check-exports

feat(ci): add explicit Turbo/Bun CI concurrency guardrails (#598)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  apps/outfitter/src/__tests__/check-orchestrator.test.ts
  apps/outfitter/src/commands/check-orchestrator.ts
  docs/reference/export-contracts.md
  package.json
  scripts/ci-test-runner.test.ts
  scripts/ci-test-runner.ts
Due: ultracite, typecheck, check-exports

test(outfitter): split heavy init and upgrade integration suites
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/helpers/init-test-harness.ts
  apps/outfitter/src/__tests__/helpers/upgrade-integration-harness.ts
  apps/outfitter/src/__tests__/init-errors-and-blocks.test.ts
  apps/outfitter/src/__tests__/init-manifest-stamping.test.ts
  apps/outfitter/src/__tests__/init-output-and-force.test.ts
  apps/outfitter/src/__tests__/init-scaffolding.test.ts
  apps/outfitter/src/__tests__/init-workspace.test.ts
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/src/__tests__/upgrade-integration-apply-flow.test.ts
  apps/outfitter/src/__tests__/upgrade-integration-breaking-classification.test.ts
  apps/outfitter/src/__tests__/upgrade-integration-edge-cases.test.ts
  apps/outfitter/src/__tests__/upgrade-integration-guide-output.test.ts
  apps/outfitter/src/__tests__/upgrade-integration-report-artifact.test.ts
  apps/outfitter/src/__tests__/upgrade-integration-result-shape.test.ts
  apps/outfitter/src/__tests__/upgrade-integration.test.ts
Due: ultracite, typecheck, check-exports

test(outfitter): split init and upgrade suites for CI sharding (#599)
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/helpers/init-test-harness.ts
  apps/outfitter/src/__tests__/helpers/upgrade-integration-harness.ts
  apps/outfitter/src/__tests__/init-errors-and-blocks.test.ts
  apps/outfitter/src/__tests__/init-manifest-stamping.test.ts
  apps/outfitter/src/__tests__/init-output-and-force.test.ts
  apps/outfitter/src/__tests__/init-scaffolding.test.ts
  apps/outfitter/src/__tests__/init-workspace.test.ts
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/src/__tests__/upgrade-integration-apply-flow.test.ts
  apps/outfitter/src/__tests__/upgrade-integration-breaking-classification.test.ts
  apps/outfitter/src/__tests__/upgrade-integration-edge-cases.test.ts
  apps/outfitter/src/__tests__/upgrade-integration-guide-output.test.ts
  apps/outfitter/src/__tests__/upgrade-integration-report-artifact.test.ts
  apps/outfitter/src/__tests__/upgrade-integration-result-shape.test.ts
  apps/outfitter/src/__tests__/upgrade-integration.test.ts
Due: ultracite, typecheck, check-exports

feat(ci): add bun crash diagnostics and stability trial workflow
  .github/workflows/bun-stability-trial.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  docs/ci-cd/README.md
  docs/reference/export-contracts.md
Due: none

feat(ci): add Bun crash diagnostics and trial workflow (#600)
  .github/workflows/bun-stability-trial.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  docs/ci-cd/README.md
  docs/reference/export-contracts.md
Due: none

feat(outfitter): add compact check output and report-scoped ci diagnostics
  .github/workflows/bun-stability-trial.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  apps/outfitter/src/__tests__/action-mapinput.test.ts
  apps/outfitter/src/__tests__/check-orchestrator.test.ts
  apps/outfitter/src/actions/check.ts
  apps/outfitter/src/commands/check-orchestrator.ts
  docs/ci-cd/bun-test-stability.md
  docs/reference/export-contracts.md
  scripts/ci-test-runner.test.ts
  scripts/ci-test-runner.ts
Due: ultracite, typecheck, check-exports

ci: run workflow for stacked pull requests
  .github/workflows/ci.yml
Due: none

docs(ci): add bun test stability record
  docs/ci-cd/README.md
  docs/ci-cd/bun-test-stability.md
Due: none

chore(outfitter): regenerate surface map for compact check flag
  .outfitter/surface.json
Due: ultracite

feat(outfitter): add compact check output and report-scoped CI diagnostics (#601)
  .github/workflows/bun-stability-trial.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .outfitter/surface.json
  apps/outfitter/src/__tests__/action-mapinput.test.ts
  apps/outfitter/src/__tests__/check-orchestrator.test.ts
  apps/outfitter/src/actions/check.ts
  apps/outfitter/src/commands/check-orchestrator.ts
  docs/ci-cd/README.md
  docs/ci-cd/bun-test-stability.md
  docs/reference/export-contracts.md
  scripts/ci-test-runner.test.ts
  scripts/ci-test-runner.ts
Due: ultracite, typecheck, check-exports

ci(release): remove redundant test step from publish job
  .github/workflows/release.yml
Due: none

ci(release): add build step before verify gate
  .github/workflows/release.yml
Due: none

ci(release): remove redundant test step from publish job (#602)
  .github/workflows/release.yml
Due: none

fix(outfitter): add explicit type params to defineAction() for isolatedDeclarations
  apps/outfitter/src/actions/add.ts
  apps/outfitter/src/actions/check-automation.ts
  apps/outfitter/src/actions/check.ts
  apps/outfitter/src/actions/demo.ts
  apps/outfitter/src/actions/docs.ts
  apps/outfitter/src/actions/doctor.ts
  apps/outfitter/src/actions/init.ts
  apps/outfitter/src/actions/scaffold.ts
  apps/outfitter/src/actions/upgrade.ts
Due: ultracite, typecheck, check-exports

ci: add targeted retry for OOM (exit 137) in CI workflow
  .github/workflows/ci.yml
Due: none

ci: add targeted retry for OOM (exit 137) in CI workflow (#606)
  .github/workflows/ci.yml
Due: none

fix(types): enable isolatedDeclarations and fix remaining TS9010 violations
  packages/cli/tsconfig.json
  packages/mcp/src/types.ts
  packages/tui/src/render/stack.ts
  packages/tui/tsconfig.json
  tsconfig.base.json
Due: ultracite, typecheck, check-exports

fix(types): enable `isolatedDeclarations` and fix remaining TS9010 violations (#604)
  packages/cli/tsconfig.json
  packages/mcp/src/types.ts
  packages/tui/src/render/stack.ts
  packages/tui/tsconfig.json
  tsconfig.base.json
Due: ultracite, typecheck, check-exports

refactor(outfitter): collapse action type ceremony to direct exports
  apps/outfitter/src/actions/add.ts
  apps/outfitter/src/actions/check-automation.ts
  apps/outfitter/src/actions/check.ts
  apps/outfitter/src/actions/demo.ts
  apps/outfitter/src/actions/docs.ts
  apps/outfitter/src/actions/doctor.ts
  apps/outfitter/src/actions/init.ts
  apps/outfitter/src/actions/scaffold.ts
  apps/outfitter/src/actions/shared.ts
  apps/outfitter/src/actions/upgrade.ts
Due: ultracite, typecheck, check-exports

refactor(outfitter): collapse action type ceremony to direct exports (#605)
  apps/outfitter/src/actions/add.ts
  apps/outfitter/src/actions/check-automation.ts
  apps/outfitter/src/actions/check.ts
  apps/outfitter/src/actions/demo.ts
  apps/outfitter/src/actions/docs.ts
  apps/outfitter/src/actions/doctor.ts
  apps/outfitter/src/actions/init.ts
  apps/outfitter/src/actions/scaffold.ts
  apps/outfitter/src/actions/shared.ts
  apps/outfitter/src/actions/upgrade.ts
Due: ultracite, typecheck, check-exports

refactor(outfitter): reduce action typing ceremony
  apps/outfitter/src/actions/add.ts
  apps/outfitter/src/actions/check-automation.ts
  apps/outfitter/src/actions/check.ts
  apps/outfitter/src/actions/demo.ts
  apps/outfitter/src/actions/docs.ts
  apps/outfitter/src/actions/doctor.ts
  apps/outfitter/src/actions/scaffold.ts
  apps/outfitter/src/actions/upgrade.ts
  docs/reference/patterns.md
Due: ultracite, typecheck, check-exports

docs(outfitter): align action pattern docs with implementation
  docs/reference/patterns.md
Due: none

Path conditions:
  ultracite: any of: *.{js,jsx,ts,tsx,json,jsonc,css}
  typecheck: any of: *.{ts,tsx}
  check-exports: any of: *.{ts,tsx}
  sync-agent-scaffolding: any of: .claude/{settings.json,hooks/*}
