Repository outfitter-dev/outfitter: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, typecheck, sync-agent-scaffolding

.lefthook.yml:

# Lefthook configuration for Outfitter Stack
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    ultracite:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css}"
      run: bun x ultracite fix {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck

    sync-agent-scaffolding:
      glob: ".claude/{settings.json,hooks/*}"
      run: ./scripts/prebuild.sh
      stage_fixed: true

pre-push:
  parallel: false
  commands:
    verify:
      run: bun run packages/tooling/src/cli/index.ts pre-push

chore(outfitter): refresh surface map for full-stack preset [OS-256]
  .outfitter/surface.json
Due: ultracite

feat(outfitter): add template metadata for kind detection [OS-258]
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/src/__tests__/scaffold.test.ts
  apps/outfitter/src/commands/scaffold.ts
  apps/outfitter/templates/cli/package.json.template
  apps/outfitter/templates/daemon/package.json.template
  apps/outfitter/templates/library/package.json.template
  apps/outfitter/templates/mcp/package.json.template
  apps/outfitter/templates/minimal/package.json.template
  templates/cli/package.json.template
  templates/daemon/package.json.template
  templates/library/package.json.template
  templates/mcp/package.json.template
  templates/minimal/package.json.template
Due: ultracite, typecheck

feat(outfitter): add template metadata for kind detection [OS-258] (#483)
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/src/__tests__/scaffold.test.ts
  apps/outfitter/src/commands/scaffold.ts
  apps/outfitter/templates/cli/package.json.template
  apps/outfitter/templates/daemon/package.json.template
  apps/outfitter/templates/library/package.json.template
  apps/outfitter/templates/mcp/package.json.template
  apps/outfitter/templates/minimal/package.json.template
  templates/cli/package.json.template
  templates/daemon/package.json.template
  templates/library/package.json.template
  templates/mcp/package.json.template
  templates/minimal/package.json.template
Due: ultracite, typecheck

feat(outfitter): align daemon scaffold with action registry [OS-259]
  apps/outfitter/src/__tests__/scaffold.test.ts
  apps/outfitter/templates/daemon/package.json.template
  apps/outfitter/templates/daemon/src/__tests__/actions.test.ts.template
  apps/outfitter/templates/daemon/src/actions.ts.template
  apps/outfitter/templates/daemon/src/cli.ts.template
  apps/outfitter/templates/daemon/src/program.ts.template
Due: ultracite, typecheck

feat(outfitter): align daemon scaffold with action registry [OS-259] (#484)
  apps/outfitter/src/__tests__/scaffold.test.ts
  apps/outfitter/templates/daemon/package.json.template
  apps/outfitter/templates/daemon/src/__tests__/actions.test.ts.template
  apps/outfitter/templates/daemon/src/actions.ts.template
  apps/outfitter/templates/daemon/src/cli.ts.template
  apps/outfitter/templates/daemon/src/program.ts.template
Due: ultracite, typecheck

feat(outfitter): support configurable check-tsdoc discovery [OS-263]
  apps/outfitter/src/__tests__/check-tsdoc-runner.test.ts
  apps/outfitter/src/commands/check-tsdoc.ts
Due: ultracite, typecheck

feat(outfitter): support configurable check-tsdoc discovery [OS-263] (#485)
  apps/outfitter/src/__tests__/check-tsdoc-runner.test.ts
  apps/outfitter/src/commands/check-tsdoc.ts
Due: ultracite, typecheck

feat(outfitter): summarize workspace member health in doctor [OS-264]
  apps/outfitter/src/__tests__/doctor.test.ts
  apps/outfitter/src/commands/doctor.ts
Due: ultracite, typecheck

feat(outfitter): summarize workspace member health in doctor [OS-264] (#486)
  apps/outfitter/src/__tests__/doctor.test.ts
  apps/outfitter/src/commands/doctor.ts
Due: ultracite, typecheck

test(outfitter): guard doctor package.json single-read behavior [OS-265]
  apps/outfitter/src/__tests__/doctor.test.ts
Due: ultracite, typecheck

test(outfitter): guard doctor package.json single-read behavior [OS-265] (#487)
  apps/outfitter/src/__tests__/doctor.test.ts
Due: ultracite, typecheck

refactor(outfitter): remove unused doctor detail fields [OS-266]
  apps/outfitter/src/__tests__/doctor.test.ts
  apps/outfitter/src/commands/doctor.ts
Due: ultracite, typecheck

refactor(outfitter): remove unused doctor detail fields [OS-266] (#488)
  apps/outfitter/src/__tests__/doctor.test.ts
  apps/outfitter/src/commands/doctor.ts
Due: ultracite, typecheck

fix(outfitter): apply remaining review fixes (await removal, imports, lint)
  apps/outfitter/src/__tests__/check-tsdoc-runner.test.ts
  apps/outfitter/src/__tests__/doctor.test.ts
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/src/commands/doctor.ts
  apps/outfitter/src/engine/config.ts
  apps/outfitter/src/engine/workspace.ts
Due: ultracite, typecheck

fix(outfitter): sanitize workspace README scope examples [OS-267] (#489)
  apps/outfitter/src/__tests__/check-tsdoc-runner.test.ts
  apps/outfitter/src/__tests__/doctor.test.ts
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/src/commands/doctor.ts
  apps/outfitter/src/engine/config.ts
  apps/outfitter/src/engine/workspace.ts
Due: ultracite, typecheck

chore(deps): upgrade Bun 1.3.7 → 1.3.9
  .bun-version
  apps/cli-demo/package.json
  apps/outfitter/package.json
  bun.lock
  package.json
  packages/cli/package.json
  packages/schema/package.json
  packages/tooling/package.json
  packages/tui/package.json
Due: ultracite

chore(deps): update bunup, lefthook, turbo, @types/node
  bun.lock
  package.json
Due: ultracite

chore(deps): migrate biome config to 2.4.4, update tooling snapshots
  packages/tooling/biome.json
  packages/tooling/registry/registry.json
  packages/tooling/src/__tests__/__snapshots__/biome.test.ts.snap
  packages/tooling/src/__tests__/__snapshots__/registry-build.test.ts.snap
Due: ultracite

chore(deps): upgrade @clack/prompts 0.10/0.11 → 1.0.1
  bun.lock
  package.json
Due: ultracite

chore(deps): migrate @outfitter/tooling from zod 3 → 4
  bun.lock
  package.json
  packages/tooling/package.json
  packages/tooling/src/registry/schema.ts
Due: ultracite, typecheck

fix(deps): cascade version updates to templates, registry, and docs
  .claude/handoff-deps-update.md
  README.md
  apps/outfitter/README.md
  apps/outfitter/src/__tests__/add.test.ts
  apps/outfitter/src/commands/shared-deps.ts
  apps/outfitter/template-versions.json
  apps/outfitter/templates/basic/package.json.template
  apps/outfitter/templates/cli/package.json.template
  apps/outfitter/templates/daemon/package.json.template
  apps/outfitter/templates/full-stack/apps/cli/package.json.template
  apps/outfitter/templates/full-stack/apps/mcp/package.json.template
  apps/outfitter/templates/full-stack/packages/core/package.json.template
  apps/outfitter/templates/library/package.json.template
  apps/outfitter/templates/mcp/package.json.template
  apps/outfitter/templates/minimal/package.json.template
  docs/GETTING-STARTED.md
  packages/tooling/registry/registry.json
  packages/tooling/src/__tests__/__snapshots__/registry-build.test.ts.snap
  packages/tooling/src/registry/build.ts
  templates/basic/package.json.template
  templates/cli/biome.json.template
  templates/cli/package.json.template
  templates/daemon/biome.json.template
  templates/daemon/package.json.template
  templates/full-stack/apps/cli/package.json.template
  templates/full-stack/apps/mcp/package.json.template
  templates/full-stack/packages/core/package.json.template
  templates/library/package.json.template
  templates/mcp/biome.json.template
  templates/mcp/package.json.template
  templates/minimal/package.json.template
Due: ultracite, typecheck

chore: add changesets for dependency updates
  .changeset/update-deps-biome-formatting.md
  .changeset/update-deps-major.md
  .claude/handoff-deps-update.md
Due: none

fix(deps): cascade @clack/prompts 1.0.1 to all consumers, fix packageManager
  apps/cli-demo/package.json
  apps/outfitter/package.json
  apps/outfitter/src/commands/init.ts
  bun.lock
  package.json
  packages/cli/package.json
  packages/tui/package.json
  packages/tui/src/prompt/text.ts
Due: ultracite, typecheck

fix(changesets): remove @outfitter/agents from mixed changesets
  .changeset/decouple-bootstrap-graphite.md
  .changeset/update-deps-biome-formatting.md
Due: none

fix(changesets): remove @outfitter/agents from mixed changesets (#493)
  .changeset/decouple-bootstrap-graphite.md
  .changeset/update-deps-biome-formatting.md
Due: none

docs: refresh stale READMEs and reorganize docs/ [OS-305]
  .claude/CLAUDE.md
  .github/ISSUE_TEMPLATE/docs.yml
  AGENTS.md
  README.md
  apps/outfitter/README.md
  docs/ARCHITECTURE.md
  docs/BOUNDARY-CONVENTIONS.md
  docs/LOGGING-MIGRATION.md
  docs/README.md
  docs/cli/README.md
  docs/cli/conventions.md
  docs/getting-started.md
  docs/llms-full.txt
  docs/migration.md
  docs/packages/cli/README.md
  docs/packages/tooling/README.md
  docs/reference/README.md
  docs/reference/export-contracts.md
  docs/reference/patterns.md
  docs/reference/result-api.md
  docs/reference/result-cookbook.md
  docs/reference/tui-stacks.md
  packages/cli/README.md
  packages/config/package.json
  packages/tooling/README.md
Due: ultracite

docs: refresh stale READMEs and reorganize docs/ (#495)
  .claude/CLAUDE.md
  .github/ISSUE_TEMPLATE/docs.yml
  AGENTS.md
  README.md
  apps/outfitter/README.md
  docs/ARCHITECTURE.md
  docs/BOUNDARY-CONVENTIONS.md
  docs/LOGGING-MIGRATION.md
  docs/README.md
  docs/cli/README.md
  docs/cli/conventions.md
  docs/getting-started.md
  docs/llms-full.txt
  docs/migration.md
  docs/packages/cli/README.md
  docs/packages/tooling/README.md
  docs/reference/README.md
  docs/reference/export-contracts.md
  docs/reference/patterns.md
  docs/reference/result-api.md
  docs/reference/result-cookbook.md
  docs/reference/tui-stacks.md
  packages/cli/README.md
  packages/config/package.json
  packages/tooling/README.md
Due: ultracite

fix(tooling): guard ignored changesets and skip release pre-push
  packages/tooling/src/__tests__/check-changeset.test.ts
  packages/tooling/src/__tests__/pre-push.test.ts
  packages/tooling/src/cli/check-changeset.ts
  packages/tooling/src/cli/pre-push.ts
Due: ultracite, typecheck
