Repository outfitter-dev/outfitter: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, typecheck, sync-agent-scaffolding

.lefthook.yml:

# Lefthook configuration for Outfitter Stack
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    ultracite:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css}"
      run: bun x ultracite fix {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck

    sync-agent-scaffolding:
      glob: ".claude/{settings.json,hooks/*}"
      run: ./scripts/prebuild.sh
      stage_fixed: true

pre-push:
  parallel: false
  commands:
    verify:
      run: bun run packages/tooling/src/cli/index.ts pre-push

chore: add changeset for version-sync project
  .changeset/version-sync-presets.md
Due: none

chore(outfitter): normalize package exports ordering
  apps/outfitter/package.json
Due: ultracite

feat(outfitter)!: remove deprecated --template CLI flag [OS-310] (#513)
  .changeset/version-sync-presets.md
  .outfitter/surface.json
  AGENTS.md
  apps/outfitter/README.md
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/src/__tests__/preset-dependency-policy.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/init.ts
  apps/outfitter/src/commands/scaffold.ts
  apps/outfitter/src/create/__tests__/planner.test.ts
  apps/outfitter/src/create/planner.ts
  apps/outfitter/src/create/types.ts
  apps/outfitter/src/engine/executor.ts
  apps/outfitter/src/engine/index.ts
  apps/outfitter/src/engine/template.ts
  apps/outfitter/src/engine/types.ts
  packages/tooling/src/registry/build.ts
  plugins/outfitter/skills/outfitter-start/references/new-project-scaffolding.md
  scripts/changeset-publish.ts
Due: ultracite, typecheck

fix(tooling): gitignore generated registry.json
  .gitignore
  bun.lock
  turbo.json
Due: ultracite

fix(tooling): gitignore generated registry.json
  packages/tooling/registry/registry.json
Due: ultracite

fix(tooling): update registry snapshot for 0.3.1
  packages/tooling/src/__tests__/__snapshots__/registry-build.test.ts.snap
Due: none

chore: add changeset for registry gitignore fix
  .changeset/registry-gitignore.md
Due: none

fix(ci): split verify gate and add test retry for Bun FPE crash
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
Due: ultracite

fix(ci): split verify gate and add test retry for Bun FPE crash
  .github/workflows/ci.yml
  .github/workflows/release.yml
  bun.lock
Due: none

fix(tooling): stop tracking generated registry.json (#515)
  .changeset/registry-gitignore.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  bun.lock
  package.json
  packages/tooling/registry/registry.json
  packages/tooling/src/__tests__/__snapshots__/registry-build.test.ts.snap
  turbo.json
Due: ultracite

chore: add changeset for release pipeline
  .changeset/release-pipeline-canary.md
Due: none

feat(release): add canary release foundation
  .changeset/config.json
  .github/workflows/auto-changeset.yml
  package.json
  scripts/changeset-publish.ts
Due: ultracite, typecheck

fix(tooling): update registry snapshot for 0.3.2
  packages/tooling/src/__tests__/__snapshots__/registry-build.test.ts.snap
Due: none

feat(release): add canary release foundation (#517)
  .changeset/config.json
  .changeset/release-pipeline-canary.md
  .github/workflows/auto-changeset.yml
  package.json
  packages/tooling/src/__tests__/__snapshots__/registry-build.test.ts.snap
  scripts/changeset-publish.ts
Due: ultracite, typecheck

feat(release): add canary release workflow
  .github/workflows/canary.yml
Due: none

feat(release): add canary release workflow (#518)
  .github/workflows/canary.yml
Due: none

fix(release): use conditional npm auth for OIDC flexibility
  .github/labels.yml
  .github/workflows/release.yml
Due: none

fix(tooling): soften check-changeset to warning, use release:none label
  packages/tooling/src/cli/check-changeset.ts
Due: ultracite, typecheck

fix(release): make tag step success gate explicit
  .github/workflows/release.yml
Due: none

fix(release): simplify test retry to propagate failures
  .github/workflows/release.yml
Due: none

fix(tooling): remove premature auto-generation claim from changeset warning
  packages/tooling/src/cli/check-changeset.ts
Due: ultracite, typecheck

fix(ci): use release:none label instead of no-changeset
  .github/workflows/ci.yml
Due: none

fix(release): add concurrency guard for release workflow
  .github/workflows/release.yml
Due: none

feat(release): rewrite stable release as two-phase workflow (#519)
  .github/labels.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  packages/tooling/src/cli/check-changeset.ts
Due: ultracite, typecheck

docs(release): add canonical release documentation
  .changeset/README.md
  AGENTS.md
  docs/README.md
  docs/RELEASES.md
  docs/ci-cd/README.md
  docs/ci-cd/auto-labeling.md
  docs/ci-cd/releases.md
Due: none

docs(release): consolidate duplicate release:none label row
  docs/ci-cd/auto-labeling.md
Due: none

docs(release): add no-changeset label and fix releases link in auto-labeling
  docs/ci-cd/auto-labeling.md
Due: none

docs(release): add canonical release documentation (#520)
  .changeset/README.md
  AGENTS.md
  docs/README.md
  docs/RELEASES.md
  docs/ci-cd/README.md
  docs/ci-cd/auto-labeling.md
  docs/ci-cd/releases.md
Due: none

fix(tooling): make registry snapshot resilient to version bumps
  bun.lock
  packages/tooling/package.json
  packages/tooling/src/__tests__/__snapshots__/registry-build.test.ts.snap
  packages/tooling/src/__tests__/registry-build.test.ts
Due: ultracite, typecheck

fix(tooling): make registry snapshot resilient to version bumps (#522)
  bun.lock
  packages/tooling/package.json
  packages/tooling/src/__tests__/__snapshots__/registry-build.test.ts.snap
  packages/tooling/src/__tests__/registry-build.test.ts
Due: ultracite, typecheck

refactor(docs): consolidate @outfitter/docs-core into @outfitter/docs [OS-288]
  .changeset/consolidate-docs-core.md
  bun.lock
  bunup.config.ts
  docs/packages/docs-core/README.md
  packages/docs-core/CHANGELOG.md
  packages/docs-core/README.md
  packages/docs-core/package.json
  packages/docs-core/tsconfig.json
  packages/docs/package.json
  packages/docs/src/__tests__/docs-core.test.ts
  packages/docs/src/commands/check.ts
  packages/docs/src/commands/export.ts
  packages/docs/src/commands/sync.ts
  packages/docs/src/core/index.ts
  packages/docs/src/docs-core-loader.ts
  packages/docs/src/index.ts
Due: ultracite, typecheck

chore(docs): sync llms artifacts after docs-core removal
  docs/llms-full.txt
  docs/llms.txt
Due: none

refactor(docs): consolidate @outfitter/docs-core into @outfitter/docs (#523)
  .changeset/consolidate-docs-core.md
  bun.lock
  bunup.config.ts
  docs/llms-full.txt
  docs/llms.txt
  docs/packages/docs-core/README.md
  packages/docs-core/CHANGELOG.md
  packages/docs-core/README.md
  packages/docs-core/package.json
  packages/docs-core/tsconfig.json
  packages/docs/package.json
  packages/docs/src/__tests__/docs-core.test.ts
  packages/docs/src/commands/check.ts
  packages/docs/src/commands/export.ts
  packages/docs/src/commands/sync.ts
  packages/docs/src/core/index.ts
  packages/docs/src/docs-core-loader.ts
  packages/docs/src/index.ts
Due: ultracite, typecheck

fix(docs): audit and repair broken links in docs/ navigation [OS-273]
  docs/ARCHITECTURE.md
  docs/README.md
  docs/migration.md
Due: none

fix(docs): audit and repair broken links in docs/ navigation (#524)
  docs/ARCHITECTURE.md
  docs/README.md
  docs/migration.md
Due: none

fix(docs): reconcile release docs with current package inventory [OS-275]
  AGENTS.md
  packages/docs/package.json
  plugins/outfitter/README.md
  typedoc.json
Due: ultracite

fix(docs): reconcile release docs with current package inventory (#525)
  AGENTS.md
  packages/docs/package.json
  plugins/outfitter/README.md
  typedoc.json
Due: ultracite

feat(docs): introduce packages/<pkg>/docs/ convention for deep docs [OS-276]
  AGENTS.md
  packages/cli/docs/output-modes.md
  packages/contracts/docs/error-taxonomy.md
Due: none

chore(docs): export package deep docs outputs
  docs/llms-full.txt
  docs/llms.txt
  docs/packages/cli/docs/output-modes.md
  docs/packages/contracts/docs/error-taxonomy.md
Due: none

feat(docs): introduce packages/<pkg>/docs/ convention for deep docs (#526)
  AGENTS.md
  docs/llms-full.txt
  docs/llms.txt
  docs/packages/cli/docs/output-modes.md
  docs/packages/contracts/docs/error-taxonomy.md
  packages/cli/docs/output-modes.md
  packages/contracts/docs/error-taxonomy.md
Due: none
