Repository outfitter-dev/outfitter: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, typecheck, sync-agent-scaffolding

ultracite:
  run: bun x ultracite fix {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

sync-agent-scaffolding:
  run: ./scripts/prebuild.sh
  stage_fixed: true

chore: add changeset for tooling ignored-package lint
  .changeset/fix-ignored-changeset-lint.md
Due: none

fix(tooling): handle CRLF frontmatter and deleted changeset files
  bun.lock
  packages/tooling/src/__tests__/check-changeset.test.ts
  packages/tooling/src/cli/check-changeset.ts
Due: ultracite, typecheck

fix(tooling): prevent ignored-package changesets and skip release branch pre-push [OS-306] (#494)
  .changeset/fix-ignored-changeset-lint.md
  bun.lock
  packages/tooling/src/__tests__/check-changeset.test.ts
  packages/tooling/src/__tests__/pre-push.test.ts
  packages/tooling/src/cli/check-changeset.ts
  packages/tooling/src/cli/pre-push.ts
Due: ultracite, typecheck

fix(outfitter): use dynamic version resolution in init and scaffold tests
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/src/__tests__/scaffold.test.ts
Due: ultracite, typecheck

fix(outfitter): use dynamic version resolution in init and scaffold tests (#497)
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/src/__tests__/scaffold.test.ts
Due: ultracite, typecheck

fix(ci): use recursive glob for template package.json discovery [OS-292]
  bun.lock
Due: none

fix(ci): use recursive glob for template package.json discovery [OS-292]
  apps/outfitter/src/__tests__/template-dependency-policy.test.ts
  scripts/check-template-dependency-versions.ts
Due: ultracite, typecheck

fix(ci): use recursive glob for template package.json discovery [OS-292] (#498)
  apps/outfitter/src/__tests__/template-dependency-policy.test.ts
  bun.lock
  scripts/check-template-dependency-versions.ts
Due: ultracite, typecheck

fix(ci): add manifest-vs-reality validation to CI check [OS-293]
  apps/outfitter/template-versions.json
  scripts/check-template-dependency-versions.ts
Due: ultracite, typecheck

fix(ci): add manifest-vs-reality validation to CI check [OS-293] (#499)
  apps/outfitter/template-versions.json
  scripts/check-template-dependency-versions.ts
Due: ultracite, typecheck

fix(ci): add biome schema URL and Bun version consistency checks [OS-294]
  scripts/check-template-dependency-versions.ts
Due: ultracite, typecheck

fix(ci): add biome schema URL and Bun version consistency checks [OS-294] (#500)
  scripts/check-template-dependency-versions.ts
Due: ultracite, typecheck

feat(monorepo): add Bun workspace catalog to root package.json [OS-295]
  bun.lock
  package.json
Due: ultracite

feat(monorepo): add Bun workspace catalog to root package.json [OS-295] (#501)
  bun.lock
  package.json
Due: ultracite

chore(deps): migrate workspace packages to catalog: protocol [OS-296]
  apps/cli-demo/package.json
  apps/outfitter/package.json
  bun.lock
  packages/agents/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/contracts/package.json
  packages/daemon/package.json
  packages/docs-core/package.json
  packages/docs/package.json
  packages/file-ops/package.json
  packages/index/package.json
  packages/logging/package.json
  packages/mcp/package.json
  packages/schema/package.json
  packages/state/package.json
  packages/testing/package.json
  packages/tooling/package.json
  packages/tui/package.json
  packages/types/package.json
Due: ultracite

fix(publish): detect catalog: protocol in publish manifest check
  scripts/check-publish-manifest.ts
Due: ultracite, typecheck

chore(deps): migrate workspace packages to catalog: protocol [OS-296] (#502)
  apps/cli-demo/package.json
  apps/outfitter/package.json
  bun.lock
  packages/agents/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/contracts/package.json
  packages/daemon/package.json
  packages/docs-core/package.json
  packages/docs/package.json
  packages/file-ops/package.json
  packages/index/package.json
  packages/logging/package.json
  packages/mcp/package.json
  packages/schema/package.json
  packages/state/package.json
  packages/testing/package.json
  packages/tooling/package.json
  packages/tui/package.json
  packages/types/package.json
  scripts/check-publish-manifest.ts
Due: ultracite, typecheck

refactor(outfitter): read external deps from @outfitter/presets [OS-299]
  apps/outfitter/src/engine/dependency-versions.ts
Due: ultracite, typecheck

refactor(outfitter): read external deps from @outfitter/presets [OS-299] (#505)
  apps/outfitter/src/engine/dependency-versions.ts
Due: ultracite, typecheck

refactor(tooling): resolve registry versions from @outfitter/presets [OS-300]
  apps/outfitter/src/__tests__/add.test.ts
  bun.lock
  packages/tooling/package.json
  packages/tooling/registry/registry.json
  packages/tooling/src/__tests__/__snapshots__/registry-build.test.ts.snap
  packages/tooling/src/registry/build.ts
Due: ultracite, typecheck

refactor(tooling): resolve registry versions from @outfitter/presets [OS-300] (#506)
  apps/outfitter/src/__tests__/add.test.ts
  bun.lock
  packages/tooling/package.json
  packages/tooling/registry/registry.json
  packages/tooling/src/__tests__/__snapshots__/registry-build.test.ts.snap
  packages/tooling/src/registry/build.ts
Due: ultracite, typecheck

fix(outfitter): replace silent version fallback with error [OS-301]
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/template-dependency-policy.test.ts
  apps/outfitter/src/commands/shared-deps.ts
  apps/outfitter/template-versions.json
  bun.lock
  package.json
  scripts/check-template-dependency-versions.ts
Due: ultracite, typecheck

fix(outfitter): replace silent version fallback with error [OS-301] (#507)
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/template-dependency-policy.test.ts
  apps/outfitter/src/commands/shared-deps.ts
  apps/outfitter/template-versions.json
  bun.lock
  package.json
  scripts/check-template-dependency-versions.ts
Due: ultracite, typecheck

chore(templates): strip shared devDep versions from template files [OS-302]
  packages/presets/presets/basic/package.json.template
  packages/presets/presets/cli/package.json.template
  packages/presets/presets/daemon/package.json.template
  packages/presets/presets/full-stack/apps/cli/package.json.template
  packages/presets/presets/full-stack/apps/mcp/package.json.template
  packages/presets/presets/full-stack/packages/core/package.json.template
  packages/presets/presets/library/package.json.template
  packages/presets/presets/mcp/package.json.template
  packages/presets/presets/minimal/package.json.template
  templates/basic/package.json.template
  templates/cli/package.json.template
  templates/daemon/package.json.template
  templates/full-stack/apps/cli/package.json.template
  templates/full-stack/apps/mcp/package.json.template
  templates/full-stack/packages/core/package.json.template
  templates/library/package.json.template
  templates/mcp/package.json.template
  templates/minimal/package.json.template
Due: none

chore(templates): strip shared devDep versions from template files [OS-302] (#508)
  packages/presets/presets/basic/package.json.template
  packages/presets/presets/cli/package.json.template
  packages/presets/presets/daemon/package.json.template
  packages/presets/presets/full-stack/apps/cli/package.json.template
  packages/presets/presets/full-stack/apps/mcp/package.json.template
  packages/presets/presets/full-stack/packages/core/package.json.template
  packages/presets/presets/library/package.json.template
  packages/presets/presets/mcp/package.json.template
  packages/presets/presets/minimal/package.json.template
  templates/basic/package.json.template
  templates/cli/package.json.template
  templates/daemon/package.json.template
  templates/full-stack/apps/cli/package.json.template
  templates/full-stack/apps/mcp/package.json.template
  templates/full-stack/packages/core/package.json.template
  templates/library/package.json.template
  templates/mcp/package.json.template
  templates/minimal/package.json.template
Due: none

docs: add @outfitter/presets to architecture docs and package listings [OS-303]
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/README.md
Due: none

docs: add @outfitter/presets to architecture docs and package listings [OS-303] (#509)
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/README.md
Due: none

fix(ci): simplify drift check for catalog architecture [OS-304]
  scripts/check-template-dependency-versions.ts
Due: ultracite, typecheck

fix(ci): simplify drift check for catalog architecture [OS-304] (#510)
  scripts/check-template-dependency-versions.ts
Due: ultracite, typecheck

refactor(outfitter): rename template → preset across engine [OS-308]
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/scaffold.test.ts
  apps/outfitter/src/__tests__/template-dependency-policy.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/init.ts
  apps/outfitter/src/commands/scaffold.ts
  apps/outfitter/src/commands/shared-deps.ts
  apps/outfitter/src/create/__tests__/planner.test.ts
  apps/outfitter/src/create/planner.ts
  apps/outfitter/src/create/presets.ts
  apps/outfitter/src/create/types.ts
  apps/outfitter/src/engine/collector.ts
  apps/outfitter/src/engine/config.ts
  apps/outfitter/src/engine/dependency-versions.ts
  apps/outfitter/src/engine/executor.ts
  apps/outfitter/src/engine/index.ts
  apps/outfitter/src/engine/preset.ts
  apps/outfitter/src/engine/types.ts
  apps/outfitter/src/targets/__tests__/registry.test.ts
  apps/outfitter/src/targets/registry.ts
  apps/outfitter/src/targets/types.ts
  package.json
  scripts/check-preset-dependency-versions.ts
Due: ultracite, typecheck

refactor(outfitter): rename template → preset across engine [OS-308] (#511)
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/scaffold.test.ts
  apps/outfitter/src/__tests__/template-dependency-policy.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/init.ts
  apps/outfitter/src/commands/scaffold.ts
  apps/outfitter/src/commands/shared-deps.ts
  apps/outfitter/src/create/__tests__/planner.test.ts
  apps/outfitter/src/create/planner.ts
  apps/outfitter/src/create/presets.ts
  apps/outfitter/src/create/types.ts
  apps/outfitter/src/engine/collector.ts
  apps/outfitter/src/engine/config.ts
  apps/outfitter/src/engine/dependency-versions.ts
  apps/outfitter/src/engine/executor.ts
  apps/outfitter/src/engine/index.ts
  apps/outfitter/src/engine/preset.ts
  apps/outfitter/src/engine/types.ts
  apps/outfitter/src/targets/__tests__/registry.test.ts
  apps/outfitter/src/targets/registry.ts
  apps/outfitter/src/targets/types.ts
  package.json
  scripts/check-preset-dependency-versions.ts
Due: ultracite, typecheck

docs(plugins): update template → preset terminology in skill docs [OS-309]
  plugins/outfitter/skills/outfitter-start/SKILL.md
  plugins/outfitter/skills/outfitter-start/migration/assessment.md
  plugins/outfitter/skills/outfitter-start/references/new-project-scaffolding.md
Due: none

docs(plugins): update template → preset terminology in skill docs [OS-309] (#512)
  plugins/outfitter/skills/outfitter-start/SKILL.md
  plugins/outfitter/skills/outfitter-start/migration/assessment.md
  plugins/outfitter/skills/outfitter-start/references/new-project-scaffolding.md
Due: none

fix(stack): address remaining stacked review feedback
  AGENTS.md
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/src/commands/init.ts
  apps/outfitter/src/commands/scaffold.ts
  apps/outfitter/src/create/__tests__/planner.test.ts
  apps/outfitter/src/create/planner.ts
  apps/outfitter/src/create/types.ts
  apps/outfitter/src/engine/executor.ts
  apps/outfitter/src/engine/index.ts
  apps/outfitter/src/engine/template.ts
  apps/outfitter/src/engine/types.ts
  packages/tooling/src/registry/build.ts
  scripts/changeset-publish.ts
Due: ultracite, typecheck

fix: address M5 review findings (surface.json, docs, test renames)
  .outfitter/surface.json
  AGENTS.md
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/src/__tests__/preset-dependency-policy.test.ts
  plugins/outfitter/skills/outfitter-start/references/new-project-scaffolding.md
Due: ultracite, typecheck

feat(outfitter)\!: remove deprecated --template CLI flag [OS-310]
  apps/outfitter/README.md
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/init.ts
Due: ultracite, typecheck

Path conditions:
  ultracite: any of: *.{js,jsx,ts,tsx,json,jsonc,css}
  typecheck: any of: *.{ts,tsx}
  sync-agent-scaffolding: any of: .claude/{settings.json,hooks/*}
