Repository outfitter-dev/outfitter: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, typecheck, sync-agent-scaffolding

.lefthook.yml:

# Lefthook configuration for Outfitter Stack
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    ultracite:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css}"
      run: bun x ultracite fix {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck

    sync-agent-scaffolding:
      glob: ".claude/{settings.json,hooks/*}"
      run: ./scripts/prebuild.sh
      stage_fixed: true

pre-push:
  parallel: false
  commands:
    verify:
      run: bun run packages/tooling/src/cli/index.ts pre-push

fix(plugins): resolve preprocessing patterns in SKILL.md files
  plugins/fieldguides/skills/claude-craft/SKILL.md
  plugins/team/skills/outfitter-agents-check/SKILL.md
Due: none

fix(fieldguides): remove task tracking from quartermaster agent
  plugins/fieldguides/agents/quartermaster.md
Due: none

fix(fieldguides): fix remaining bracket placeholders in patterns.md
  plugins/fieldguides/skills/skillcraft/references/patterns.md
Due: none

fix(fieldguides): clean up quartermaster description — remove inline examples
  plugins/fieldguides/agents/quartermaster.md
Due: none

fix(rules): move preprocessing safety guidance to skills.md
  .claude/rules/agents/skills.md
Due: none

fix(fieldguides): fold quality gates into validation section
  plugins/fieldguides/agents/quartermaster.md
Due: none

fix(plugins): fix placeholder conventions and add formatting linter
  .claude/skills/check-skill-formatting/SKILL.md
  .claude/skills/check-skill-formatting/scripts/lint-placeholders.ts
  plugins/fieldguides/skills/sanity-check/SKILL.md
  plugins/fieldguides/skills/sanity-check/examples/custom-auth.md
  plugins/fieldguides/skills/skillcraft/references/patterns.md
  plugins/fieldguides/templates/agents/documentation-generator.md
  plugins/fieldguides/templates/skills/multi-file-skill/EXAMPLES.md
  plugins/fieldguides/templates/skills/multi-file-skill/REFERENCE.md
  plugins/fieldguides/templates/skills/multi-file-skill/SKILL.template.md
  plugins/fieldguides/templates/skills/simple-skill/SKILL.template.md
  plugins/fieldguides/templates/skills/skill-with-scripts/SKILL.template.md
  plugins/fieldguides/templates/slash-commands/simple.md
  plugins/fieldguides/templates/slash-commands/with-args.md
  plugins/fieldguides/templates/slash-commands/with-bash.md
  plugins/fieldguides/templates/slash-commands/with-files.md
  plugins/team/skills/outfitter-documentation/templates/DOCUMENT.md
  plugins/team/skills/outfitter-documentation/templates/README.md
Due: ultracite, typecheck

fix(fieldguides): simplify quartermaster routing table and use /skill syntax
  plugins/fieldguides/agents/quartermaster.md
Due: none

fix(fieldguides): make quartermaster description more explicit about component paths
  plugins/fieldguides/agents/quartermaster.md
Due: none

feat(fieldguides): add built-in slash command collision check to naming requirements
  plugins/fieldguides/skills/skillcraft/SKILL.md
Due: none

feat(outfitter): define manifest schema and read/write utilities
  apps/outfitter/src/__tests__/manifest.test.ts
  apps/outfitter/src/manifest.ts
Due: ultracite, typecheck

feat(outfitter): define manifest schema and read/write utilities (#317)
  apps/outfitter/src/__tests__/manifest.test.ts
  apps/outfitter/src/manifest.ts
Due: ultracite, typecheck

feat(outfitter): extract pure analyzeUpdates planner from update command (#318)
  apps/outfitter/src/__tests__/update-planner.test.ts
  apps/outfitter/src/commands/update-planner.ts
  apps/outfitter/src/commands/update.ts
Due: ultracite, typecheck

feat(outfitter): stamp manifest when running outfitter add (#319)
  apps/outfitter/src/__tests__/add.test.ts
  apps/outfitter/src/commands/add.ts
Due: ultracite, typecheck

feat(outfitter): add --apply flag to outfitter update
  apps/outfitter/src/__tests__/update-apply.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/update.ts
Due: ultracite, typecheck

test(outfitter): verify manifest stamping in init and create
  apps/outfitter/src/__tests__/create.test.ts
  apps/outfitter/src/__tests__/init.test.ts
Due: ultracite, typecheck

feat(outfitter): add monorepo workspace scanning to outfitter update (#322)
  apps/outfitter/src/__tests__/update-workspace.test.ts
  apps/outfitter/src/commands/update-workspace.ts
  apps/outfitter/src/commands/update.ts
Due: ultracite, typecheck

feat(outfitter): add outfitter check command for block drift detection (#324)
  apps/outfitter/src/__tests__/check.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/check.ts
Due: ultracite, typecheck

feat(outfitter): add structured migration guidance to update command
  apps/outfitter/src/__tests__/update-guide.test.ts
  apps/outfitter/src/commands/update.ts
Due: ultracite, typecheck

test(outfitter): add integration tests for outfitter update command
  apps/outfitter/src/__tests__/update-integration.test.ts
  docs/MIGRATION.md
Due: ultracite, typecheck

fix(fieldguides): use double backticks for bang references in SKILL.md files
  .claude/rules/agents/skills.md
  plugins/fieldguides/skills/claude-craft/SKILL.md
  plugins/fieldguides/skills/skillcheck/SKILL.md
  plugins/fieldguides/skills/skillcheck/scripts/lint-preprocessing.ts
  plugins/fieldguides/skills/skillcraft/SKILL.md
  plugins/fieldguides/skills/typescript-fieldguide/SKILL.md
Due: ultracite, typecheck

fix(mcp): support runtime resource and prompt registration in transport (#331)
  packages/mcp/src/__tests__/transport.test.ts
  packages/mcp/src/transport.ts
Due: ultracite, typecheck

fix(tooling): check sync exports without mutating package.json
  packages/tooling/package.json
  packages/tooling/scripts/__tests__/sync-exports.test.ts
  packages/tooling/scripts/sync-exports.ts
Due: ultracite, typecheck

feat(contracts): add ValidationError.fromMessage() for freeform validation errors
  packages/contracts/src/__tests__/errors.test.ts
  packages/contracts/src/errors.ts
Due: ultracite, typecheck

fix(logging): runtime-safe resolveLogLevel and accept string input
  packages/logging/src/__tests__/resolve-log-level.test.ts
  packages/logging/src/index.ts
Due: ultracite, typecheck

fix(logging): runtime-safe resolveLogLevel and accept string input (#337)
  packages/logging/src/__tests__/resolve-log-level.test.ts
  packages/logging/src/index.ts
Due: ultracite, typecheck

docs(logging): document string input, edge runtime safety, and console sink formatter option
  packages/logging/README.md
Due: none

feat(logging): add formatter option to createConsoleSink and document runtime safety (#339)
  packages/logging/README.md
  packages/logging/src/__tests__/logging.test.ts
  packages/logging/src/index.ts
Due: ultracite, typecheck

feat(mcp): export wrapToolResult and wrapToolError from transport
  packages/mcp/src/__tests__/wrap-helpers.test.ts
  packages/mcp/src/index.ts
  packages/mcp/src/transport.ts
Due: ultracite, typecheck

docs(mcp): document TOOL_ANNOTATIONS presets, adaptHandler, wrapToolResult/Error
  packages/mcp/README.md
Due: none

feat(mcp): add annotation presets, adaptHandler, and per-action docs
  packages/mcp/src/__tests__/tool-annotations.test.ts
  packages/mcp/src/index.ts
  packages/mcp/src/types.ts
Due: ultracite, typecheck

fix(outfitter): respect migration doc breaking flag and add per-package guide filter
  apps/outfitter/src/__tests__/update-planner.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/update-planner.ts
  apps/outfitter/src/commands/update.ts
Due: ultracite, typecheck

chore: convert cross-package deps to peerDependencies and improve migration discoverability
  bun.lock
  packages/cli/README.md
  packages/cli/package.json
  packages/logging/README.md
  packages/logging/package.json
  packages/mcp/README.md
  packages/mcp/package.json
  plugins/outfitter/skills/outfitter-update/SKILL.md
Due: ultracite

chore: convert cross-package deps to peerDependencies and improve migration discoverability (#344)
  bun.lock
  packages/cli/README.md
  packages/cli/package.json
  packages/logging/README.md
  packages/logging/package.json
  packages/mcp/README.md
  packages/mcp/package.json
  plugins/outfitter/skills/outfitter-update/SKILL.md
Due: ultracite

fix(build): normalize package.json export key order to prevent stacked branch conflicts (#345)
  apps/outfitter/package.json
  package.json
  packages/agents/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/contracts/package.json
  packages/index/package.json
  packages/kit/package.json
  packages/mcp/package.json
  packages/types/package.json
  scripts/normalize-exports.ts
Due: ultracite, typecheck

refactor(config): replace json5 dependency with Bun.JSON5 (#346)
  bun.lock
  package.json
  packages/config/src/__tests__/config.test.ts
  packages/config/src/index.ts
  plugins/fieldguides/skills/bun-first/replacements.json
Due: ultracite, typecheck

fix(monorepo): add workspace devDeps for internal peers to stabilize turbo typecheck ordering
  packages/cli/package.json
  packages/logging/package.json
  packages/mcp/package.json
Due: ultracite

chore(cli): remove unused workspace devDependency on @outfitter/types
  packages/cli/package.json
Due: ultracite

fix(monorepo): add workspace devDeps for internal peers to stabilize turbo typecheck ordering (#348)
  packages/cli/package.json
  packages/logging/package.json
  packages/mcp/package.json
Due: ultracite

chore(plans): add docs implementation plan and stack strategy (#349)
  .agents/plans/outfitter-docs-decisions.md
  .agents/plans/outfitter-docs-plan.md
Due: none
