Repository outfitter-dev/outfitter: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, typecheck, check-exports, sync-agent-scaffolding

.lefthook.yml:

# Lefthook configuration for Outfitter Stack
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    ultracite:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css}"
      run: bun x ultracite fix {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      # Avoid turbo dependency fan-out (^build) in commit hooks, which can
      # trigger bunup export rewrites and leave unstaged package.json drift.
      run: bun run typecheck -- --only

    check-exports:
      glob: "*.{ts,tsx}"
      # Keep export drift detection explicit and non-mutating in pre-commit.
      run: bun run check-exports

    sync-agent-scaffolding:
      glob: ".claude/{settings.json,hooks/*}"
      run: ./scripts/sync-agent-scaffolding.sh
      stage_fixed: true

pre-push:
  parallel: false
  commands:
    verify:
      run: bun run packages/tooling/src/cli/index.ts pre-push
    schema-drift:
      run: bun run apps/outfitter/src/cli.ts schema diff

chore(docs): format README sentinel block
  docs/README.md
Due: none

fix(docs): stabilize README sentinel formatting
  packages/docs/src/__tests__/docs-command.test.ts
  packages/docs/src/__tests__/sentinel-generator.test.ts
  packages/docs/src/__tests__/sentinel-sync.test.ts
  packages/docs/src/core/sentinel-generator.ts
  scripts/check-docs-readme-sentinel.test.ts
Due: ultracite, typecheck, check-exports

fix(outfitter): add explicit action spec annotations
  apps/outfitter/src/actions/add.ts
  apps/outfitter/src/actions/check.ts
  apps/outfitter/src/actions/demo.ts
  apps/outfitter/src/actions/docs.ts
  apps/outfitter/src/actions/doctor.ts
  apps/outfitter/src/actions/init.ts
  apps/outfitter/src/actions/scaffold.ts
  apps/outfitter/src/actions/shared.ts
  apps/outfitter/src/actions/upgrade.ts
Due: ultracite, typecheck, check-exports

chore(schema): regenerate canonical surface map
  .outfitter/surface.json
Due: ultracite

fix(ci): align surface map format check with oxfmt
  scripts/check-surface-map-format.test.ts
  scripts/check-surface-map-format.ts
Due: ultracite, typecheck, check-exports

fix: move root dependencies to devDependencies
  bun.lock
  package.json
Due: ultracite

fix: narrow pre-commit typecheck to affected packages
  .lefthook.yml
  scripts/pre-commit-typecheck.sh
Due: none

fix(tooling): break prebuild lifecycle hook into explicit build script
  packages/tooling/package.json
Due: ultracite

feat: add --check flag to normalize-exports.ts
  package.json
  scripts/normalize-exports.ts
Due: ultracite, typecheck, check-exports

feat(tooling): add Bun version guard to pre-push hook
  packages/tooling/src/__tests__/pre-push.test.ts
  packages/tooling/src/cli/pre-push.ts
Due: ultracite, typecheck, check-exports

fix(tooling): break prebuild lifecycle hook into explicit build script (#574)
  packages/tooling/package.json
Due: ultracite

chore(ci): use non-mutating exports check in verify path
  package.json
Due: ultracite

feat: add --check flag to normalize-exports.ts (#575)
  package.json
  scripts/normalize-exports.ts
Due: ultracite, typecheck, check-exports

fix: move root dependencies to devDependencies (#576)
  bun.lock
  package.json
Due: ultracite

feat(tooling): enforce pinned bun version in doctor and pre-push
  apps/outfitter/src/__tests__/doctor.test.ts
  apps/outfitter/src/commands/doctor.ts
  packages/tooling/src/cli/pre-push.ts
Due: ultracite, typecheck, check-exports

fix(tooling): honor --force before Bun pin enforcement
  packages/tooling/src/cli/pre-push.ts
Due: ultracite, typecheck, check-exports

feat(tooling): add Bun version guard to pre-push hook (#577)
  apps/outfitter/src/__tests__/doctor.test.ts
  apps/outfitter/src/commands/doctor.ts
  packages/tooling/src/__tests__/pre-push.test.ts
  packages/tooling/src/cli/pre-push.ts
Due: ultracite, typecheck, check-exports

fix(tooling): fallback to full typecheck for root ts changes
  scripts/pre-commit-typecheck.sh
  scripts/pre-commit-typecheck.test.ts
Due: ultracite, typecheck, check-exports

fix: narrow pre-commit typecheck to affected packages (#578)
  .lefthook.yml
  scripts/pre-commit-typecheck.sh
  scripts/pre-commit-typecheck.test.ts
Due: ultracite, typecheck, check-exports

chore(tooling): remove lingering biome references
  packages/tooling/scripts/__tests__/sync-exports.test.ts
  packages/tooling/scripts/sync-exports.ts
  packages/tooling/src/__tests__/check-exports.test.ts
  packages/tooling/src/__tests__/pre-push.test.ts
  packages/tooling/src/__tests__/registry.test.ts
Due: ultracite, typecheck, check-exports

chore(tooling): remove lingering biome references (#579)
  packages/tooling/scripts/__tests__/sync-exports.test.ts
  packages/tooling/scripts/sync-exports.ts
  packages/tooling/src/__tests__/check-exports.test.ts
  packages/tooling/src/__tests__/pre-push.test.ts
  packages/tooling/src/__tests__/registry.test.ts
Due: ultracite, typecheck, check-exports

chore(lint): suppress handler test false positive in contracts
  packages/contracts/src/__tests__/handler.test.ts
Due: ultracite, typecheck, check-exports

fix(agents): replace console output with stdout writes
  packages/agents/src/bootstrap.ts
  packages/agents/src/init.ts
Due: ultracite, typecheck, check-exports

chore(lint): remove package-level process.exit blockers
  packages/cli/src/cli.ts
  packages/cli/src/output.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/handler-must-return-result.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/handler-must-return-result.ts
  packages/tooling/src/cli/check-boundary-invocations.ts
  packages/tooling/src/cli/check-bunup-registry.ts
  packages/tooling/src/cli/check-changeset.ts
  packages/tooling/src/cli/check-clean-tree.ts
  packages/tooling/src/cli/check-exports.ts
  packages/tooling/src/cli/check-markdown-links.ts
  packages/tooling/src/cli/check-readme-imports.ts
  packages/tooling/src/cli/check-tsdoc.ts
  packages/tooling/src/cli/check.ts
  packages/tooling/src/cli/fix.ts
  packages/tooling/src/cli/index.ts
  packages/tooling/src/cli/init.ts
  packages/tooling/src/cli/pre-push.ts
Due: ultracite, typecheck, check-exports

chore(lint): remove package-level process.exit blockers (#590)
  packages/agents/src/bootstrap.ts
  packages/agents/src/init.ts
  packages/cli/src/cli.ts
  packages/cli/src/output.ts
  packages/contracts/src/__tests__/handler.test.ts
  packages/oxlint-plugin/src/__tests__/fixtures/invalid/handler-must-return-result.ts
  packages/oxlint-plugin/src/__tests__/fixtures/valid/handler-must-return-result.ts
  packages/tooling/src/cli/check-boundary-invocations.ts
  packages/tooling/src/cli/check-bunup-registry.ts
  packages/tooling/src/cli/check-changeset.ts
  packages/tooling/src/cli/check-clean-tree.ts
  packages/tooling/src/cli/check-exports.ts
  packages/tooling/src/cli/check-markdown-links.ts
  packages/tooling/src/cli/check-readme-imports.ts
  packages/tooling/src/cli/check-tsdoc.ts
  packages/tooling/src/cli/check.ts
  packages/tooling/src/cli/fix.ts
  packages/tooling/src/cli/index.ts
  packages/tooling/src/cli/init.ts
  packages/tooling/src/cli/pre-push.ts
Due: ultracite, typecheck, check-exports

feat(tooling): wire oxlint plugin into linter scaffolding
  .oxlintrc.json
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/add.test.ts
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/src/__tests__/scaffold.test.ts
  apps/outfitter/src/commands/shared-deps.ts
  bun.lock
  package.json
  packages/tooling/configs/.oxlintrc.json
  packages/tooling/src/__tests__/oxlint-plugin-integration.test.ts
  packages/tooling/src/__tests__/registry-build.test.ts
  packages/tooling/src/registry/build.ts
Due: ultracite, typecheck, check-exports

feat(tooling): wire oxlint plugin into linter scaffolding (#580)
  .oxlintrc.json
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/add.test.ts
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/src/__tests__/scaffold.test.ts
  apps/outfitter/src/commands/shared-deps.ts
  bun.lock
  package.json
  packages/tooling/configs/.oxlintrc.json
  packages/tooling/src/__tests__/oxlint-plugin-integration.test.ts
  packages/tooling/src/__tests__/registry-build.test.ts
  packages/tooling/src/registry/build.ts
Due: ultracite, typecheck, check-exports

fix(root): include turbo cache in clean script
  package.json
Due: ultracite

fix(root): include turbo cache in clean script (#581)
  package.json
Due: ultracite

chore(root): consolidate canonical build path
  package.json
Due: ultracite

chore(root): consolidate canonical build path (#582)
  package.json
Due: ultracite

feat(outfitter): add hook-aware check orchestrator modes
  apps/outfitter/src/__tests__/action-mapinput.test.ts
  apps/outfitter/src/__tests__/check-orchestrator.test.ts
  apps/outfitter/src/actions/check.ts
  apps/outfitter/src/commands/check-orchestrator.ts
Due: ultracite, typecheck, check-exports

feat(outfitter): add hook-aware check orchestrator modes (#583)
  apps/outfitter/src/__tests__/action-mapinput.test.ts
  apps/outfitter/src/__tests__/check-orchestrator.test.ts
  apps/outfitter/src/actions/check.ts
  apps/outfitter/src/commands/check-orchestrator.ts
Due: ultracite, typecheck, check-exports

feat(outfitter): migrate standalone checks into CLI commands
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/check-automation-actions.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/actions/check-automation.ts
  apps/outfitter/src/commands/check-docs-sentinel.ts
  apps/outfitter/src/commands/check-orchestrator.ts
  apps/outfitter/src/commands/check-preset-versions.ts
  apps/outfitter/src/commands/check-publish-guardrails.ts
  apps/outfitter/src/commands/check-surface-map-format.ts
  apps/outfitter/src/commands/check-surface-map.ts
  package.json
  scripts/check-docs-readme-sentinel.ts
  scripts/check-preset-dependency-versions.ts
  scripts/check-publish-guardrails.ts
  scripts/check-surface-map-format.ts
Due: ultracite, typecheck, check-exports
