Repository outfitter-dev/outfitter: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, typecheck, sync-agent-scaffolding

.lefthook.yml:

# Lefthook configuration for Outfitter Stack
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    ultracite:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css}"
      run: bun x ultracite fix {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck

    sync-agent-scaffolding:
      glob: ".claude/{settings.json,hooks/*}"
      run: ./scripts/prebuild.sh
      stage_fixed: true

pre-push:
  parallel: false
  commands:
    verify:
      run: bun run packages/tooling/src/cli/index.ts pre-push

docs(plans): add gt modify workflow and stack base commit note
  .agents/plans/outfitter-docs-plan.md
Due: none

docs(plans): clarify gt modify commit flags and examples
  .agents/plans/outfitter-docs-plan.md
Due: none

feat(docs-core): add package docs sync and check pipeline
  bun.lock
  bunup.config.ts
  packages/docs-core/README.md
  packages/docs-core/package.json
  packages/docs-core/src/__tests__/docs-core.test.ts
  packages/docs-core/src/index.ts
  packages/docs-core/tsconfig.json
Due: ultracite, typecheck

fix(docs-core): harden output safety and mirror link rewriting
  packages/docs-core/src/__tests__/docs-core.test.ts
  packages/docs-core/src/index.ts
Due: ultracite, typecheck

feat(docs-core): add package docs sync and check pipeline (#352)
  bun.lock
  bunup.config.ts
  packages/docs-core/README.md
  packages/docs-core/package.json
  packages/docs-core/src/__tests__/docs-core.test.ts
  packages/docs-core/src/index.ts
  packages/docs-core/tsconfig.json
Due: ultracite, typecheck

feat(docs): add docs CLI and host command adapter
  bun.lock
  bunup.config.ts
  packages/docs/README.md
  packages/docs/package.json
  packages/docs/src/__tests__/docs-command.test.ts
  packages/docs/src/cli.ts
  packages/docs/src/command/create-docs-command.ts
  packages/docs/src/commands/check.ts
  packages/docs/src/commands/sync.ts
  packages/docs/src/index.ts
  packages/docs/src/version.ts
  packages/docs/tsconfig.json
Due: ultracite, typecheck

feat(docs): add docs CLI and host command adapter (#353)
  bun.lock
  bunup.config.ts
  packages/docs/README.md
  packages/docs/package.json
  packages/docs/src/__tests__/docs-command.test.ts
  packages/docs/src/cli.ts
  packages/docs/src/command/create-docs-command.ts
  packages/docs/src/commands/check.ts
  packages/docs/src/commands/sync.ts
  packages/docs/src/index.ts
  packages/docs/src/version.ts
  packages/docs/tsconfig.json
Due: ultracite, typecheck

fix(build): stabilize docs package export surfaces
  bunup.config.ts
Due: ultracite, typecheck

fix(outfitter): run docs-core sync from package context in prebuild
  scripts/prebuild.sh
Due: none

feat(outfitter): wire docs command and prebuild docs sync
  apps/outfitter/package.json
  apps/outfitter/src/cli.ts
  bun.lock
  packages/docs-core/package.json
  packages/docs-core/src/cli-sync.ts
  packages/docs-core/src/index.ts
  scripts/prebuild.sh
Due: ultracite, typecheck

fix(docs): run docs cli scripts from package workspace
  package.json
Due: ultracite

feat(docs): add CI freshness gate and migrate docs cross-links
  docs/GETTING-STARTED.md
  docs/README.md
  docs/packages/agents/README.md
  docs/packages/index/README.md
  docs/packages/mcp/README.md
  docs/packages/tooling/README.md
  package.json
  packages/docs-core/src/__tests__/docs-core.test.ts
  packages/docs-core/src/index.ts
Due: ultracite, typecheck

fix(docs-core): reject colliding llms output targets
  packages/docs-core/src/__tests__/docs-core.test.ts
  packages/docs-core/src/index.ts
Due: ultracite, typecheck

feat(outfitter): define scaffold target registry (#359)
  .agents/plans/scaffold-consolidation/PLAN.md
  .agents/plans/scaffold-consolidation/TARGET-REGISTRY.md
  apps/outfitter/src/targets/__tests__/registry.test.ts
  apps/outfitter/src/targets/index.ts
  apps/outfitter/src/targets/registry.ts
  apps/outfitter/src/targets/types.ts
  apps/outfitter/templates/minimal/.gitignore.template
  apps/outfitter/templates/minimal/.lefthook.yml.template
  apps/outfitter/templates/minimal/package.json.template
  apps/outfitter/templates/minimal/src/index.ts.template
  apps/outfitter/templates/minimal/tsconfig.json.template
  packages/docs/src/version.ts
  templates/minimal/.gitignore.template
  templates/minimal/.lefthook.yml.template
  templates/minimal/package.json.template
  templates/minimal/src/index.ts.template
  templates/minimal/tsconfig.json.template
Due: ultracite, typecheck

refactor(outfitter): extract shared scaffolding engine (#360)
  .agents/plans/scaffold-consolidation/SHARED-ENGINE.md
  apps/outfitter/src/create/__tests__/planner.test.ts
  apps/outfitter/src/create/planner.ts
  apps/outfitter/src/engine/blocks.ts
  apps/outfitter/src/engine/config.ts
  apps/outfitter/src/engine/executor.ts
  apps/outfitter/src/engine/index.ts
  apps/outfitter/src/engine/names.ts
  apps/outfitter/src/engine/template.ts
  apps/outfitter/src/engine/types.ts
  apps/outfitter/src/engine/workspace.ts
Due: ultracite, typecheck

feat(outfitter): slice 2 init consolidation
  .agents/plans/scaffold-consolidation/INIT-CONSOLIDATION.md
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/src/commands/init.ts
Due: ultracite, typecheck

feat(outfitter): slice 3 scaffold command
  .agents/plans/scaffold-consolidation/SCAFFOLD-COMMAND.md
  apps/outfitter/src/__tests__/actions.test.ts
  apps/outfitter/src/__tests__/index.test.ts
  apps/outfitter/src/__tests__/scaffold.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/scaffold.ts
  apps/outfitter/src/index.ts
Due: ultracite, typecheck

feat(outfitter): add scaffold command for existing projects (#362)
  .agents/plans/scaffold-consolidation/SCAFFOLD-COMMAND.md
  apps/outfitter/src/__tests__/actions.test.ts
  apps/outfitter/src/__tests__/index.test.ts
  apps/outfitter/src/__tests__/scaffold.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/scaffold.ts
  apps/outfitter/src/index.ts
Due: ultracite, typecheck

docs(outfitter): slice 4 workspace conversion context
  .agents/plans/scaffold-consolidation/scaffolding-research.md
Due: none

feat(outfitter): slice 5 post-scaffold automation
  .agents/plans/scaffold-consolidation/POST-SCAFFOLD.md
  apps/outfitter/src/engine/post-scaffold.ts
Due: ultracite, typecheck

feat(outfitter): automate post-scaffold install and git setup (#364)
  .agents/plans/scaffold-consolidation/POST-SCAFFOLD.md
  apps/outfitter/src/engine/post-scaffold.ts
Due: ultracite, typecheck

feat(outfitter): add dry-run operation planning for scaffold (#365)
  .agents/plans/scaffold-consolidation/scaffolding-research-addendum.md
  apps/outfitter/src/engine/collector.ts
  apps/outfitter/src/engine/render-plan.ts
Due: ultracite, typecheck

chore(outfitter): slice 7 retire create command
  apps/outfitter/README.md
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/create.test.ts
  apps/outfitter/src/commands/create.ts
  docs/GETTING-STARTED.md
Due: ultracite, typecheck

chore(outfitter): retire create command and migrate docs (#366)
  apps/outfitter/README.md
  apps/outfitter/package.json
  apps/outfitter/src/__tests__/create.test.ts
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/src/__tests__/output-mode.test.ts
  apps/outfitter/src/actions.ts
  apps/outfitter/src/commands/add.ts
  apps/outfitter/src/commands/check.ts
  apps/outfitter/src/commands/create.ts
  apps/outfitter/src/commands/doctor.ts
  apps/outfitter/src/commands/init.ts
  apps/outfitter/src/commands/migrate-kit.ts
  apps/outfitter/src/commands/scaffold.ts
  apps/outfitter/src/commands/update.ts
  apps/outfitter/src/engine/render-plan.ts
  apps/outfitter/src/output-mode.ts
  docs/GETTING-STARTED.md
Due: ultracite, typecheck

feat(tooling): add check-exports command (#369)
  packages/tooling/src/__tests__/check-exports.test.ts
  packages/tooling/src/cli/check-exports.ts
  packages/tooling/src/cli/index.ts
Due: ultracite, typecheck

feat(tooling): apply intentional export-surface policy
  bunup.config.ts
  packages/tooling/package.json
Due: ultracite, typecheck

feat(tooling): add clean-tree invariant to verify:ci
  package.json
  packages/tooling/src/__tests__/check-clean-tree.test.ts
  packages/tooling/src/cli/check-clean-tree.ts
  packages/tooling/src/cli/index.ts
Due: ultracite, typecheck

feat(tooling): add README subpath contract linting (#372)
  docs/llms-full.txt
  docs/packages/testing/README.md
  packages/testing/README.md
  packages/tooling/src/__tests__/check-readme-imports.test.ts
  packages/tooling/src/cli/check-readme-imports.ts
  packages/tooling/src/cli/index.ts
Due: ultracite, typecheck

docs(tooling): document export contract workflow
  docs/EXPORT-CONTRACTS.md
Due: none

feat(ci): enable turbo remote caching (#376)
  .github/workflows/ci.yml
  .gitignore
  docs/ci-cd/README.md
  docs/ci-cd/turbo-cache.md
  turbo.json
Due: ultracite

fix(tooling): add 6 missing packages to bunup workspace config (#374)
  bunup.config.ts
  packages/daemon/package.json
  packages/mcp/package.json
  packages/testing/package.json
Due: ultracite, typecheck

refactor(plugins): consolidate skill-spec.json and wire into validator (#377)
  plugins/fieldguides/scripts/__tests__/load-skill-spec.test.ts
  plugins/fieldguides/scripts/_shared.ts
  plugins/fieldguides/scripts/validate-skill-frontmatter.ts
  plugins/outfitter/skill-spec.json
  plugins/skill-spec.json
Due: ultracite, typecheck

chore: add changesets for unreleased package changes
  .changeset/cli-json-bridge.md
  .changeset/config-bun-json5.md
  .changeset/contracts-validation-error.md
  .changeset/logging-runtime-safety.md
  .changeset/mcp-transport-and-annotations.md
Due: none

chore: add changesets for unreleased package changes (#378)
  .changeset/cli-json-bridge.md
  .changeset/config-bun-json5.md
  .changeset/contracts-validation-error.md
  .changeset/logging-runtime-safety.md
  .changeset/mcp-transport-and-annotations.md
Due: none

fix(daemon): use /proc/1/ for PID write error test
  packages/daemon/src/__tests__/lifecycle.test.ts
Due: ultracite, typecheck

fix(ci): add Turbo remote cache env vars to release workflow (#380)
  .github/workflows/release.yml
Due: none

fix(daemon): use /proc/1/ for PID write error test (#382)
  packages/daemon/src/__tests__/lifecycle.test.ts
Due: ultracite, typecheck

feat(tui): scaffold @outfitter/tui package
  bun.lock
  bunup.config.ts
  packages/tui/package.json
  packages/tui/src/index.ts
  packages/tui/tsconfig.json
Due: ultracite, typecheck

feat(tui): scaffold @outfitter/tui package (#383)
  bun.lock
  bunup.config.ts
  packages/tui/package.json
  packages/tui/src/index.ts
  packages/tui/tsconfig.json
Due: ultracite, typecheck
