Repository outfitter-dev/outfitter: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite, typecheck

.lefthook.yml:

# Lefthook configuration for Outfitter Stack
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    ultracite:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css}"
      run: bun x ultracite fix {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck

pre-push:
  parallel: false
  commands:
    build:
      run: bun run build

    test:
      run: ./scripts/pre-push-test.sh

fix(release): transform workspace:* refs before npm publish (#193)
  .changeset/fix-workspace-publish.md
  apps/outfitter/src/commands/demo.ts
  package.json
  packages/cli/package.json
  packages/cli/src/render/heading.ts
  scripts/changeset-publish.ts
Due: ultracite, typecheck

fix(changeset): include outfitter app in releases
  .changeset/config.json
  .changeset/fix-workspace-publish.md
Due: ultracite

feat(tooling): scaffold @outfitter/tooling package
  bun.lock
  bunup.config.ts
  packages/tooling/package.json
  packages/tooling/src/__tests__/.gitkeep
  packages/tooling/src/cli/index.ts
  packages/tooling/src/index.ts
  packages/tooling/tsconfig.json
Due: ultracite, typecheck

feat(tooling): scaffold @outfitter/tooling package (#196)
  bun.lock
  bunup.config.ts
  packages/tooling/package.json
  packages/tooling/src/__tests__/.gitkeep
  packages/tooling/src/cli/index.ts
  packages/tooling/src/index.ts
  packages/tooling/tsconfig.json
Due: ultracite, typecheck

feat(tooling): add TypeScript presets
  packages/tooling/package.json
  packages/tooling/src/__tests__/typescript.test.ts
  packages/tooling/tsconfig.preset.bun.json
  packages/tooling/tsconfig.preset.json
Due: ultracite, typecheck

feat(tooling): add lefthook preset
  bun.lock
  packages/tooling/lefthook.yml
  packages/tooling/package.json
  packages/tooling/src/__tests__/lefthook.test.ts
Due: ultracite, typecheck

feat(tooling): add CLI with init, check, fix commands
  packages/tooling/src/__tests__/cli.test.ts
  packages/tooling/src/cli/check.ts
  packages/tooling/src/cli/fix.ts
  packages/tooling/src/cli/index.ts
  packages/tooling/src/cli/init.ts
Due: ultracite, typecheck

fix(tooling): address PR review feedback
  apps/outfitter/src/__tests__/init.test.ts
  packages/cli/package.json
  packages/tooling/lefthook.yml
  packages/tooling/src/__tests__/cli.test.ts
  packages/tooling/src/cli/init.ts
Due: ultracite, typecheck

feat(tooling): update outfitter templates to use @outfitter/tooling (#201)
  apps/outfitter/src/__tests__/init.test.ts
  apps/outfitter/src/commands/shared-deps.ts
  apps/outfitter/templates/basic/.lefthook.yml.template
  apps/outfitter/templates/basic/tsconfig.json.template
  apps/outfitter/templates/cli/.lefthook.yml.template
  apps/outfitter/templates/cli/biome.json.template
  apps/outfitter/templates/cli/tsconfig.json.template
  apps/outfitter/templates/daemon/.lefthook.yml.template
  apps/outfitter/templates/daemon/biome.json.template
  apps/outfitter/templates/daemon/tsconfig.json.template
  apps/outfitter/templates/mcp/.lefthook.yml.template
  apps/outfitter/templates/mcp/biome.json.template
  apps/outfitter/templates/mcp/tsconfig.json.template
  packages/cli/package.json
  packages/tooling/lefthook.yml
  packages/tooling/package.json
  packages/tooling/src/__tests__/cli.test.ts
  packages/tooling/src/cli/init.ts
Due: ultracite, typecheck

fix(tooling): add missing subpath exports for config files
  packages/tooling/package.json
Due: ultracite

fix(logging): auto-detect TTY for console sink colors (#204)
  packages/logging/src/__tests__/logging.test.ts
  packages/logging/src/index.ts
Due: ultracite, typecheck

fix(build): use exports.exclude instead of broken plugin
  bunup.config.ts
Due: ultracite, typecheck

feat(github): add canonical labels system
  .github/labels.yml
  .github/scripts/sync-labels.ts
Due: ultracite, typecheck

feat(tooling): add CLI commands for upgrade-bun and pre-push
  packages/tooling/.markdownlint-cli2.jsonc
  packages/tooling/lefthook.yml
  packages/tooling/package.json
  packages/tooling/registry/registry.json
  packages/tooling/src/__tests__/lefthook.test.ts
  packages/tooling/src/__tests__/registry-build.test.ts
  packages/tooling/src/cli/index.ts
  packages/tooling/src/cli/pre-push.ts
  packages/tooling/src/cli/upgrade-bun.ts
  packages/tooling/src/index.ts
  packages/tooling/src/registry/build.ts
Due: ultracite, typecheck

feat(claude): configure plugin marketplace and enable plugins
  .claude/settings.json
  packages/agents/scaffolding/.claude/settings.json
  packages/tooling/registry/registry.json
Due: ultracite

chore: bump all packages to v0.2.0
  apps/outfitter/package.json
  packages/agents/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/contracts/package.json
  packages/daemon/package.json
  packages/file-ops/package.json
  packages/index/package.json
  packages/kit/package.json
  packages/logging/package.json
  packages/mcp/package.json
  packages/state/package.json
  packages/testing/package.json
  packages/tooling/package.json
  packages/types/package.json
Due: ultracite

docs: update documentation for kit rename and tooling CLI
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/README.md
  packages/tooling/README.md
  plugins/kit/skills/outfitter-init/SKILL.md
Due: none

chore: move specs to .agents/plans and fix plugin names in scaffolding
  .agents/.gitignore
  .agents/plans/cli-tui/BOX-SYSTEM.md
  .agents/plans/cli-tui/LAYOUT-CONTEXT-PLAN.md
  .agents/plans/cli-tui/LAYOUT-CONTEXT.md
  .agents/plans/shadcn-registry/PLAN.md
  .agents/plans/v0.1-rc/DELTAS.md
  .agents/plans/v0.1-rc/PLAN.md
  .agents/plans/v0.1-rc/README.md
  packages/agents/scaffolding/.claude/settings.json
Due: ultracite

chore: move specs to .agents/plans and fix plugin names in scaffolding (#211)
  .agents/.gitignore
  .agents/plans/cli-tui/BOX-SYSTEM.md
  .agents/plans/cli-tui/LAYOUT-CONTEXT-PLAN.md
  .agents/plans/cli-tui/LAYOUT-CONTEXT.md
  .agents/plans/shadcn-registry/PLAN.md
  .agents/plans/v0.1-rc/DELTAS.md
  .agents/plans/v0.1-rc/PLAN.md
  .agents/plans/v0.1-rc/README.md
  packages/agents/scaffolding/.claude/settings.json
Due: ultracite

chore: release v0.1.0 (first stable) (#213)
  .changeset/cli-bun-wrapansi.md
  .changeset/cli-utilities.md
  .changeset/contracts-error-codes.md
  .changeset/file-ops-shared-lock.md
  .changeset/fix-workspace-publish.md
  .changeset/pre.json
  .changeset/types-utilities.md
  apps/outfitter/CHANGELOG.md
  apps/outfitter/package.json
  packages/agents/CHANGELOG.md
  packages/agents/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/daemon/CHANGELOG.md
  packages/daemon/package.json
  packages/file-ops/CHANGELOG.md
  packages/file-ops/package.json
  packages/index/CHANGELOG.md
  packages/index/package.json
  packages/kit/CHANGELOG.md
  packages/kit/package.json
  packages/logging/CHANGELOG.md
  packages/logging/package.json
  packages/mcp/CHANGELOG.md
  packages/mcp/package.json
  packages/state/CHANGELOG.md
  packages/state/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/tooling/CHANGELOG.md
  packages/tooling/package.json
  packages/types/package.json
Due: ultracite

feat(ci): auto-generate changesets from PR labels on merge (#214)
  .github/labels.yml
  .github/workflows/auto-changeset.yml
  docs/ci-cd/README.md
  docs/ci-cd/auto-labeling.md
  docs/ci-cd/releases.md
Due: none

fix(agents): fix CI build failure for @outfitter/agents
  bun.lock
  bunup.config.ts
  packages/agents/package.json
Due: ultracite, typecheck

fix(claude): adjust marketplace names (#215)
  .claude-plugin/marketplace.json
  bun.lock
  bunup.config.ts
  packages/agents/package.json
  packages/claude-plugin/README.md
  plugins/kit/CHANGELOG.md
  plugins/kit/README.md
  plugins/kit/skills/outfitter-init/scripts/scan.ts
  plugins/outfitter/README.md
  plugins/team/skills/agent-setup/SKILL.md
  plugins/team/skills/agent-setup/scripts/check-outfitter.ts
Due: ultracite, typecheck

fix(team): replace hardcoded marketplace config with generated manifest
  plugins/team/skills/agent-setup/SKILL.md
  plugins/team/skills/agent-setup/marketplace-manifest.json
  plugins/team/skills/agent-setup/scripts/check-outfitter.ts
  scripts/generate-marketplace-manifest.ts
  scripts/prebuild.sh
Due: ultracite, typecheck

chore(agents): move core skills to frontmatter and tighten agent bodies
  plugins/outfitter/agents/analyst.md
  plugins/outfitter/agents/debugger.md
  plugins/outfitter/agents/engineer.md
  plugins/outfitter/agents/librarian.md
  plugins/outfitter/agents/plugin-engineer.md
  plugins/outfitter/agents/quartermaster.md
  plugins/outfitter/agents/reviewer.md
  plugins/outfitter/agents/scout.md
  plugins/outfitter/agents/skeptic.md
  plugins/outfitter/agents/specialist.md
  plugins/outfitter/agents/tester.md
  plugins/outfitter/agents/workflow-architect.md
Due: none

chore(agents): move core skills to frontmatter and tighten agent bodies (#218)
  plugins/outfitter/agents/analyst.md
  plugins/outfitter/agents/debugger.md
  plugins/outfitter/agents/engineer.md
  plugins/outfitter/agents/librarian.md
  plugins/outfitter/agents/plugin-engineer.md
  plugins/outfitter/agents/quartermaster.md
  plugins/outfitter/agents/reviewer.md
  plugins/outfitter/agents/scout.md
  plugins/outfitter/agents/skeptic.md
  plugins/outfitter/agents/specialist.md
  plugins/outfitter/agents/tester.md
  plugins/outfitter/agents/workflow-architect.md
Due: none

chore(outfitter): normalize plugin references and audit skill
  plugins/outfitter/commands/plugin/audit.md
  plugins/outfitter/skills/claude-plugins/references/audit.md
  plugins/outfitter/skills/plugin-engineer/references/overview.md
  plugins/outfitter/skills/plugin-engineer/references/stage-7-audit.md
  plugins/outfitter/skills/subagents/SKILL.md
  plugins/outfitter/skills/subagents/references/agent-skills.md
Due: none

fix(kit): use correct 'docs' label in feedback skill templates
  plugins/kit/skills/outfitter-feedback/templates/docs.json
  plugins/kit/skills/outfitter-feedback/templates/migration-docs.json
Due: ultracite

feat(contracts): add static create() factory methods to all error classes
  packages/contracts/src/__tests__/errors.test.ts
  packages/contracts/src/errors.ts
Due: ultracite, typecheck

feat(contracts): add static create() factory methods to all error classes (#237)
  packages/contracts/src/__tests__/errors.test.ts
  packages/contracts/src/errors.ts
Due: ultracite, typecheck

feat(contracts): add AmbiguousError for disambiguation scenarios (#238)
  packages/contracts/src/__tests__/errors.test.ts
  packages/contracts/src/__tests__/serialization.test.ts
  packages/contracts/src/errors.ts
  packages/contracts/src/index.ts
  packages/contracts/src/serialization.ts
Due: ultracite, typecheck

docs(contracts): document Result API surface and gen() cookbook
  docs/RESULT-API.md
  docs/RESULT-COOKBOOK.md
Due: none

feat(mcp): add tool annotations (OS-52)
  packages/mcp/src/__tests__/tool-annotations.test.ts
  packages/mcp/src/index.ts
  packages/mcp/src/server.ts
  packages/mcp/src/types.ts
Due: ultracite, typecheck

feat(mcp): add resource read handlers and templates (OS-53, OS-54) (#251)
  packages/mcp/src/__tests__/resource-templates.test.ts
  packages/mcp/src/__tests__/resources.test.ts
  packages/mcp/src/index.ts
  packages/mcp/src/server.ts
  packages/mcp/src/transport.ts
  packages/mcp/src/types.ts
Due: ultracite, typecheck
